[2016-01-19 23:59] lausdahl opened #1 "Resolving calls"
Cite from language manual:

Then this must be ok:
[code]
well not according to the Overture interpreter when started with `new Call1().test2(1)`: `Error 4087: Cannot convert 1 (nat1) to char in 'Call1' `

why take the super `op` over the local `op` in `Call1`?

then lets reorder:
[code]
well then we get: `Name op((char | int)) is ambiguous. 1: in 'Call1' ` as a type check error.

I would have assu

[2016-01-20 10:01] lausdahl opened #2 "Tasks"
Here is a list of tasks that needs to be implemented. Please add more.
- [x] Class structure
- [x] Class structure + inheritance
- [x] Field access
  - [x] local
  - [x] public
- [x] Calls
  - [x] local
  - [x] public
  - [x] name,
  - [x] self,
  - [x] new,
  - [x] object field ,
  - [x] object apply
- [x] Memory management free all that is constructed
- [ ] expressions
  - [x] time
  - [x] set

[2016-01-20 10:30] nickbattle commented on #1
I think that the spec should be legal, as the operations are distinguishable by their parameter types. So it looks like there is a problem with binding (the first case) and overload checking (the second case). I'll have a look when I get a minute.

[2016-01-20 11:54] nickbattle commented on #1
OK, I think I can see a little more about what is going on here, and it relates to my earlier email about OO differences between VDM++, Java and C++.

In the first "binding" problem, there is no ambiguity error because VDMJ/Overture is behaving like C++ rather than Java, regarding overrides and overloads. Essentially, if you override something in C++, then inherited members that would otherwise ov

[2016-01-20 13:46] nickbattle commented on #1
OK, I have a fix for the inconsistent binding problem (in VDMJ - I'll apply it to Overture soon). So with the first version of the spec, you now get:

[code]

So the "char" version has not been inherited, since it would overload the local definition. This is now reflected in the runtime context, as well as the type checking environment.

[2016-01-20 15:03] lausdahl commented on #1
Thanks for the feedback so far. I think this simplifies my translation a bit in some cases (actually the naive selection I made so far actually seems to implement the right semantics here).

I recall the workshop in London (http://overturetool.org/workshops/8th-Overture-Workshop.html, just reformatted the workshop page it had some issue with the images/links)

[2016-01-20 16:17] nickbattle commented on #1
Another good one in C++ is that it "isolates" class hierarchy construction. So if a hierarchy has an operation called "op" and, for some admittedly bizarrre reason, you want to call op during the construction of one of the parent classes (perhaps as a field initializer), C++ will use the version of "op" that the class would see if it was being constructed by itself (ie. not as someone else's paren

[2016-01-21 08:58] nickbattle commented on #1
This is now fixed in the Overture repo (ncb/development). I created an issue there, since this is really a problem with VDMJ/Overture, not your C translation as such.

[2016-01-22 15:20] bandurvp commented on #2
Checked Clearsy model, needs:
seq - Some sequence functions (++ for example) are not implemented, but they are not used in this model.
logic - Clearsy model only uses quantifiers in invariants.
pattern match
- let - Clearsy model only uses simplest version let var = ...  Has implication for cases below.
- cases
  for seq + index
  call on object

[2016-01-26 15:29] lausdahl opened #3 "Let Expressions"
We have chosen to use the following C GNU construct to implement let-expressions: `({exp;stm;exp;})` https://gcc.gnu.org/onlinedocs/gcc/Statement-Exprs.html#Statement-Exprs

This allows a statement to occur as an expression. It will return the value of the last expression in the scope.

There is an alternative way to implement this using functions. However we chose the above simple solution of now

[2016-01-26 16:32] nickbattle commented on #3
So how does PJ do it in Java? (Not that Java matters, but why isn't the same approach possible?)

[2016-05-12 21:14] peterwvj commented on #3
When I generate `let` expressions I assume that they occur in a statement context. Therefore, the Java code generator currently does not support

[code]

What I really need to do is to initialize the corresponding Java fields using utility methods.

[2016-06-13 15:07] lausdahl opened #4 "The plugin includes test classes in the vdmlib copied to the generated/c folder"

[2016-06-13 15:24] lausdahl opened #5 "Missing support for static field set field"
When this is generated:
[code]
then it outputs this:

[code]

but is should have been:

[code]

[2016-06-20 08:57] lausdahl opened #6 "Create new release to support Overture FMU export"
A new release needs to be made with a new version number to enable Overture FMU export

[2016-06-20 11:44] lausdahl opened #7 "Emit *_const/static_init/shutdown() for all classes"
To simplify how to initialize a generated VDM model the init and shutdown functions should be generated for all classes:

- [ ] generate *_const_shutdown() for all classes
- [ ] generate *_const_init() for all classes
- [ ] generate *_static_shutdown() for all classes
- [ ] generate *_static_init() for all classes

[2016-06-21 08:37] bandurvp opened #8 "Many VDM test models missing corresponding CPP test files."

[2016-06-21 08:39] bandurvp opened #9 "Command-line interface does not find model files recursively."
Seems to be related to a faulty implementation of the required recursion, have asked PJ to take a look.

[2016-06-21 08:39] bandurvp opened #10 "Field assignments."

[2016-06-21 08:39] bandurvp opened #11 "Records."

[2016-06-21 08:47] peterwvj commented on #9
Can't remember you asked me :) It must have been a long time ago. Can you please remind me?

[2016-06-21 08:49] bandurvp commented on #9
Hi Peter,

I wrote you a Skype message about this yesterday, see if you can find it, I explain it there.

Victor

On 06/21/2016 10:47 AM, Peter W. V. Tran-Jørgensen wrote:

[2016-06-21 08:52] peterwvj commented on #9
I missed it, sorry. I probably signed off before I received it.

[2016-06-21 09:04] peterwvj commented on #9
On mine it works well. Consider the file structure created below.

[code]

When I run the small program below...

[code]

...It finds all tree files.

[code]

Did you expect a different behavior? How do you invoke it?

[2016-06-21 09:12] bandurvp commented on #9
I was invoking it on the command line from the main method in CGenMain in vdm2c and I was getting null pointer exceptions exactly as if I was passing in a phony model folder.  I was calling it on a model folder which only contains MATH.vdmrt in the subfolder lib and nothing else.

On 06/21/2016 11:04 AM, Peter W. V. Tran-Jørgensen wrote:

[2016-06-21 09:25] peterwvj commented on #9
Can you show me how to produce this problem? Also, can you confirm that `file.exists()` on your machine indeed does return true?

[2016-06-21 09:26] bandurvp commented on #9
Are you able to build overturetool/vdm2c?

On 06/21/2016 11:25 AM, Peter W. V. Tran-Jørgensen wrote:

[2016-06-21 09:27] peterwvj commented on #9
I can try to check it out. What branch?

[2016-06-21 09:30] bandurvp commented on #9
Development.  If you do mvn install it will create a JAR that has ``-with-dependencies'' in the name.  I ran that JAR on the model directory structure I told you about and got that result.  Originally, the implementation wasn't using the recursive function, so I changed it, without any success.

On 06/21/2016 11:27 AM, Peter W. V. Tran-Jørgensen wrote:

[2016-06-21 09:32] peterwvj commented on #9
I can build development without any problems. I'm not sure where the jar is or how to invoke it. Will you be in tomorrow?

[2016-06-21 09:33] bandurvp commented on #9
OK that's good.  I'm putting this problem on the backburner for a bit, because it's not blocking me, and it's not for AU, it's for someone at ESA doing something with the code generator, but it's not urgent.  I'm ill, but I'm getting better, so I should be in tomorrow.

On 06/21/2016 11:32 AM, Peter W. V. Tran-Jørgensen wrote:

[2016-06-21 09:38] peterwvj commented on #9
Sorry about that. Hope you get well soon. Regarding the issue - that's fine. I'm happy to help sort it out when you plan to look into it.

[2016-06-21 09:41] bandurvp commented on #9
Thanks!  The recursive thing is not an immediate impediment to the guy at ESA, but I wanted to get it to work properly, because I want the code generator to have the same capability on the command line as it does from within Overture.  I'll come around tomorrow.

On 06/21/2016 11:38 AM, Peter W. V. Tran-Jørgensen wrote:

[2016-07-07 06:48] #5 closed

[2016-07-07 06:48] #7 closed

[2016-07-11 20:34] lausdahl opened #12 "Static field field access not implement correctly it default to this"
There is an issue with fields of static fields i.e. `System`hwi.level`

This currently generates to:

[code]

it should have generates something like this (which it did before):

[code]
note the `g_` field which is the static reference

The issue seems to be here:
![image](https://cloud.githubusercontent.com/assets/2575418/16745526/7d2747e2-47b6-11e6-86ca-cd0bada13657.png)

[2016-08-08 07:11] tfabbri commented on #11
The generated constructor doesn't use `this` to access to the class members, follows an example:

[code]

[2016-08-08 07:21] tfabbri opened #13 "Generated vdm functions and operations are C function static"
The generated vdm functions/operations are C `static` functions. Just remove the `static` to make them visible from other files.

[2016-08-11 13:23] #13 closed

[2016-08-11 13:58] #11 closed

[2016-08-11 16:41] peterwvj opened #14 "README needs to be updated"
While trying to get myself familiar with the development environment I noticed a few things that need to be added to the readme
- [x] It needs to mention that cmake is needed in order to run the tests
- [x] Description of test properties is outdated
- [x] Put a note saying that the googletest submodule must be initliased
- [x] Merge all "READMEs" into a single one

Requested by Tommaso
- [ ] Macro

[2016-08-11 16:49] peterwvj opened #15 "Test property is not needed anymore"
Use of the `-DVDM_LIB_PATH` is properly not needed anymore now that the library is stored together with the remaining vdm2c components. If this property is removed the corresponding JUnit test condition can properly be removed as well.

[2016-08-12 09:00] peterwvj opened #16 "Re-organise vdmlib"
The vdmlib contains hand-written code used for developing prototyping and developing vdmlib features. Really this code shouldn't be mixed with the other vdmlib code. Put code in `src/experiments` both `classes` and `records`. Also consider a better place for the test code.

[2016-08-12 09:56] peterwvj opened #17 "Expand VDM2C command-line"
For testing purposes it would be useful to expand the CLI with functionality that allows the generated code to be printed to the console

[2016-08-12 15:28] tfabbri commented on #17
I propose also to have an interface that takes as input not only the working directory but also a single vdmpp file.

[2016-08-12 20:13] peterwvj commented on #17
Sure that's a good suggestion. I'll update the CLI to support that.

[2016-08-15 09:46] peterwvj opened #18 "Update Overture version"
VDM2C should be updated to use the newest Overture version. It's probably mostly a matter of updating the property in `core/vdm2c/pom.xml` and make sure that everything is still working.

Also the VDM2C plugin (the "IDE") needs to build against Eclipse Neon (rather than Mars, which it currently does)

[2016-08-15 09:53] peterwvj opened #19 "Tighten up code generator logging"
When running the Maven tests and the code generator CLI debug information is dumped to the console, which suppresses the output of interest . For example, I'm completely lacking the overview of how the test execution is progressing, which is a problem because they take a lot of time to finish. This needs to be tightened up.

[code]

[2016-08-19 08:55] tfabbri commented on #14
Add to the README:
- [ ] Macros introduced for conversions
- [ ] Description of TypedValue

[2016-08-22 09:34] tfabbri opened #20 "TypedValue - Lack of information"
The structure `TypedValue` presents a lack of information for Union and Record types.
Considering the following example where `MyRecord1` and `MyRecord2` are two records characterized by different structure:
[code]
at C code level is not possible to distinguish between the two types by checking the `type` field (both are characterized by `type=VDM_RECORD`).
Possible solution: Add a new field to `T

[2016-08-26 14:52] tfabbri opened #21 "TASTE Integration"
In the following is listed the major requirements for completing the integration of vdm2c into TASTE (this will be updated along the development).

- [ ] Generation of the support code for invariants introduced in the type declarations.
- [ ] Generation of the support for union types.

[2016-08-31 13:34] nlmave opened #22 "SampleMakefile not generated on Linux"
When the vdm2c code generator is invoked via the Overture GUI on Windows, the SampleMakefile is not generated in the directory generated/c/src, while it is on Linux.

[2016-09-06 12:59] nlmave opened #23 "usage of the IO library"
Running the c-code generator after including the IO standard library fails:

An internal error occurred during: "VDM to C code generation".
org/overture/ast/types/ASetType

(vdm2c version 0.0.2 on Overture 2.4.0 both Windows 64-bit and Linux 32 bit)

[2016-09-06 13:14] nlmave opened #24 "Map support is incomplete"
For a specification like

[code]

c-code is generated that is incomplete / erroneous, here is an excerpt:

[code]

MapUtil is not defined anywhere and `new Maplet` seems like C++ code is emitted?

[2016-09-06 13:22] nlmave opened #25 "Name mangling incorrect"
vdm2c/core/vdm2c/src/main/java/org/overture/codegen/vdm2c/utils/NameMangler.java

The patterns for seqId, setId and mapId seem incomplete and need an addition "%s" pattern postfix

[2016-09-20 09:09] peterwvj commented on #1
As you said, this is an Overture/VDMJ issue so I'll close it.

[2016-09-20 09:09] #1 closed

[2016-09-20 09:17] peterwvj commented on #3
This issue seems mostly to be describing a design-choice and not an issue as such. Is there some place appropriate to document this other than the Github tracker, @bandurvp? If so, I would prefer to do that so we can close this issue.

[2016-09-20 09:22] bandurvp commented on #3
Yes, as a design decision I think the best place to document this is in the CG deliverable.

[2016-09-20 09:43] peterwvj commented on #4
I had a quick look at this. The VDM2C code generator copies the content of `<vdm2c-root>/c/vdmclib/src` into the `generated` folder (or some subfolder). The problem is that `<vdm2c-root>/c/vdmclib/src` contains test/playground code, which shouldn't be there. To address this issue the `<vdm2c-root>/c/vdmclib/src` folder needs to be cleaned up. @bandurvp you know the runtime better than I do. Would

[2016-09-20 10:13] peterwvj commented on #9
This issue seems to be fixed. As explained above, I've confirmed that `getFilesRecursively` works. The example below demonstrates that the command-line (CLI) tool finds model files recursively.

[code]

Invoke the CLI and pass it the source and destination folders:

[code]

The output folder contains both classes:

[code]

I'll close this issue for now. If I'm missing something or you find a way t

[2016-09-20 10:13] #9 closed

[2016-09-20 10:49] lausdahl commented on #4
The current way would probably be to split this into: a library, and a test project. Remember to update all CMakeLists.txt accordingly and check that it doesn’t break the build server job (I dont think it will but better make sure the tests continue to run)

otherwise the sources can be filtered during copy so only certain files/folders are copied.

[2016-09-20 12:49] peterwvj commented on #23
I don't think this is related to the IO lib as such. At least, I'm not able to produce this problem. I also tried to code-generate a model that uses set types, but still I did not manage to produce a similar error. Could you attach or email me the model that produces this problem.

[2016-09-20 13:05] peterwvj commented on #23
I take that back :) I was finally able to produce it using 0.0.2. I'll look into it.

[2016-09-20 17:27] peterwvj commented on #14
Since involves documentation of C code I'll assign you @bandurvp . Note that that I already reworked the README significantly (as indicated by the commits listed above), but on my own branch `pvj/test-pass`.

[2016-09-20 17:45] peterwvj commented on #23
Okay, I know what's up. VDM2C, version 0.0.2,  is built as a plugin that depends on Overture 2.3.6 - a version of Overture that does not support the `set1` type constructor. However, Overture 2.4.0, which adds the `set1` type constructor, has changed the structure of the tree to not include `ASetType`. Usually all core components (e.g. the AST) are exported by a plugin to make these components ava

[2016-09-20 18:02] peterwvj commented on #4
This is related to #16

[2016-09-21 08:51] peterwvj commented on #23
Fix confirmed to work - e64c4d6e12b73b6a5ecd645eb105f79bd08cde0f

[2016-09-21 13:38] #4 closed

[2016-09-22 13:41] peterwvj opened #26 "Replace SampleMakeFile with CMake file"

[2016-09-22 13:55] peterwvj opened #27 "Value semantics not respected"
The following model produces true when executed in Overture

[code]

However, the generated code returns `false`

[2016-09-22 18:07] peterwvj opened #28 "Add supports for records"
Finish Victor's work on records. Quite important since @tfabbri  needs this.

[2016-09-23 08:18] lausdahl opened #29 "Possible memory leak in `SET_STRUCT_FIELD`"
It looks like there might be a memory leak in relation to `SET_STRUCT_FIELD` this clones the new value and sets the local struct field with the new value. However it does not free the previous value so the pointer could be lost.

Note that `SET_FIELD` uses be method `SET_STRUCT_FIELD`.

[code]

When this is seen in combination with `GET_FIELD` which always clones the return value. The there is not

[2016-09-23 13:35] peterwvj opened #30 "Integrate runtime library test into Maven build"
Currently, the runtime library tests must be manually executed. It would be better if they were executed as  part of the test phase.

[2016-09-23 18:38] peterwvj commented on #30
The runtime library tests are now fully integrated into the build. The googletest binary is executed by a shell script. If the script returns an error (because the tests are failing) then the Maven build fails, and the failing tests are printed to the console.

[2016-09-23 18:44] bandurvp commented on #29
Hi Kenneth, I have just pushed a change where the old value is checked and freed if it is not NULL before the new value is set at that field.  But I think there is more to it.  If that previous value needs reference semantics, then it should not be freed, I think?  Also, I do not understand the purpose of the last part of the comment, regarding GET_FIELD.

[2016-09-23 18:45] peterwvj commented on #30
When executing the make file I decided not to use `nproc --all` to find the number of cores (in order to speed up test execution). I don't think it's worthwhile adding more prerequisites.

[2016-09-23 19:59] lausdahl commented on #29
Reference semantics: It should also be freed since it hold a reference to the object and decrements its counter once freed. Then when the last reference is freed when the object is too.

if `GET_FIELD` returns a clone and `SET_FIELD` sets a new. Then there is no way to free previous values that were set. Thats what the last part says. If you fixed `SET_FIELD` so it cleans up then it should be ok.

[2016-09-23 20:05] bandurvp commented on #29
I checked for NULL in the macro, but you're right, vdmFree does this itself, I'll change that.  Should I close the issue then?

[2016-09-23 20:06] lausdahl commented on #29
yes if it works close it with your fix so there is a reference to the commit

[2016-09-23 20:07] bandurvp commented on #29
Is that done with "Cose issue #29"?

[2016-09-23 20:09] lausdahl commented on #29
no with

close
closes
closed
fix
fixes
fixed
resolve
resolves
resolved
followed by #29

so fixed #29 will do it

see https://help.github.com/articles/closing-issues-via-commit-messages/ https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-09-23 20:25] #29 closed

[2016-09-23 20:27] lausdahl commented on #29
ok but that does not work. It is:

close #29

[2016-09-26 09:29] bandurvp commented on #27
Spurious bug.

[2016-09-26 09:29] #27 closed

[2016-09-26 12:45] bandurvp opened #31 "Copy native lib from both CLI and IDE"
Move code that is responsible for copying the native lib so that this can be done by both the CLI and the IDE.  Check:

 https://github.com/overturetool/overture-fmu/blob/development/core/fmu-import-export/src/main/java/org/overturetool/fmi/export/CGenerator.java

https://github.com/overturetool/overture-fmu/blob/development/core/fmu-import-export/pom.xml

[2016-09-26 13:20] #26 closed

[2016-09-27 19:30] peterwvj opened #32 "Ensure that google tests are generated and run"
The tests that exercise the generated code need to be updated to ensure that the googletests are run. To do this, two things must be done:

- [x] 1.The tests must be updated to generate an XML file that contains the test report
- [x] 2. The XML file must be inspected, for example using XPath, to ensure that the tests are run

@bandurvp : if you take care of the first task, then I'll take care of t

[2016-09-28 08:16] bandurvp commented on #32
I'll do the first one.

[2016-09-28 09:02] bandurvp commented on #32
The basic starting point for item 2 would be something like this:
grep 'testsuites.*tests=' report.xml | awk '{print $2}'
Let me know if you want to build the inspection script for this together.

[2016-09-28 09:10] peterwvj commented on #32
Great Victor, thanks.

Regarding item 2, I'll just use XPath (Java) to scan the document structure. My plan is to add it as a post  step for each of the unit tests, using JUnits "[at]After" annotation.

[2016-09-28 11:08] #23 closed

[2016-09-28 15:47] peterwvj commented on #32
There still exists some tests that only check that the generated code compiles. Obviously this is not ideal, and eventually we should try to have all the tests execute the generated code. Therefore, I changed the test system to require that the test report (the XML file) must list at least one test if the JUnit test uses a googletest cpp file.

[2016-09-29 07:47] peterwvj opened #33 "Complete support for records"
Initial work on records is available on the development branch, I just need to port it over and finish it.

[2016-09-29 13:42] peterwvj commented on #33
I managed to make some progress on translation of records. Unfortunately I forgot to reference this issue in the commits. Anyway, below is a summary :) First, I should say that all my work related to translation of records is available on the `pvj/records` branch. I won't merge it into `pvj/main` yet.

I updated the code generator to convert record declarations and types to their class equivalents

[2016-09-29 13:46] bandurvp commented on #33
As it stands, the distinction can definitely be made in the native lib, but we'll have to take a look at the whole picture.  It might be as simple as setting the VDM type in the generated value to VDM_RECORD instead of VDM_CLASS.  Let's look at it tomorrow.

[2016-09-29 14:16] peterwvj commented on #33
Sounds promising :) I was hoping for something like that. Yeah, let's look at it tomorrow.

[2016-09-29 17:12] bandurvp opened #34 "Initialization functions for values are not being called in class constructor"
The functions "*class_name*_const_init" must be called in class constructors so that "value" elements can be used.

There is a more basic test for "value"s, ClassValue, which does pass, but the reason for this is that the appropriate calls are inserted in the test file ClassValue_Tests.cpp itself.  This was probably a temporary move.  With these commented out the test fails.

[2016-09-29 19:12] peterwvj commented on #25
I added unit tests for all the constructs that are mangled, and identified several other issues with the name mangler -- all of which have been fixed by now. In addition to the issues reported above, mangling of union types, `nat1`, `rat`,  `void`, `set1` and `seq1` was also fixed.

[2016-09-30 08:41] bandurvp commented on #34
@peterwvj I've assigned you to this because I think it's a very good way to see the connection between the Java side and the native library.  The functions that need to be called are already being emitted by the generator, all that is required is to emit a call right at the end of the class constructor.  So the part that builds the body of the constructor must be amended to also emit a call to the

[2016-09-30 09:00] bandurvp opened #35 "Update test ClassValue after issue #34 is resolved."

[2016-09-30 09:23] bandurvp opened #36 "Native lib improvements in accordance with test on AVR"
Memcheck output to work from:

[leak-full.txt](https://github.com/overturetool/vdm2c/files/502547/leak-full.txt)

[2016-09-30 12:11] bandurvp commented on #22
The makefile system has been migrated to a CMake system.

[2016-09-30 12:11] #22 closed

[2016-10-02 08:40] bandurvp commented on #34
It is a bit more subtle than just adding the initializer call to the constructor.  Because values/statics can be used without creating an instance of a class, it's necessary to call the initializer elsewhere.  I propose this strategy:  1)  The call is made in the constructor anyway, for those cases when an instance of the class does exist.  2)  Wherever a "value" or "static" field is accessed, the

[2016-10-02 11:11] bandurvp opened #37 "Factor out value and static shutdown functions"
Investigate whether it is possible to factor out the shutdown functions such that they are called when an instance of a class TVP is vdmFree()'d.  This should be similar to the way in which free_fields is called.  Then it should not be necessary to emit any calls to these functions from the generator proper.

[2016-10-03 12:48] #12 closed

[2016-10-03 12:48] #15 closed

[2016-10-03 12:49] #16 closed

[2016-10-03 12:49] #18 closed

[2016-10-03 12:49] #19 closed

[2016-10-03 12:50] #30 closed

[2016-10-03 12:52] #32 closed

[2016-10-03 18:10] bandurvp commented on #33
It looks like assignments of class instances to variables do not use vdmClone at the present.  Classes don't strictly need this, but records do.  As we discussed earlier today, it would be nice and uniform if they all used vdmClone, and the distinction can be made in the native lib.

[2016-10-03 18:45] peterwvj commented on #33
Yeah it seems like the current approach is not quite right. What I think we need to do is to clone record values every time they appear as variable expressions or are returned as results of collection lookups. The Java code generator takes a similar approach. If you `grep` for `Utils.copy` in `overture/core/codegen/javagen`, which is equivalent to `vdmClone`, you'll see that this is exactly what i

[2016-10-03 18:51] peterwvj commented on #33
To clarify:

| Node type | VDM example |
| --- | :-: |
| AFieldExpIR | `obj.field` |
| AFieldNumberExpIR | `tuple.#5` |
| AApplyExpIR (first) | `mySeq(1)` |
| AApplyExpIR (second) | `myMap(5)` |
| AHeadUnaryExpIR | `hd mySeq` |
| AExplicitVarExpIR | `MyClass` ``instanceVar` |
| AIdentifierVarExpIR | `var` |

So maybe I could try to update the templates to do this tomorrow. Any thoughts?

[2016-10-04 12:00] bandurvp commented on #33
Yes I think that's the right approach.

[2016-10-04 15:49] bandurvp commented on #33
Peter, in order to implement that method of walking along the fields of a class that we discussed yesterday, it turns out that I need access to the total number of fields in the struct.  Otherwise I can not figure out the total size of the struct.

My idea is to have a field, say "int numFields" in the corresponding class struct that gets initialized in the top-level constructor (the one with the

[2016-10-05 14:25] peterwvj commented on #33
To remind myself I need update the mangled constructors to emit

[code]

[2016-10-06 14:25] bandurvp commented on #33
Hi Peter, I've been developing this value semantics scheme further and it seems that my idea of just adding "numFields" to the template is not enough, because there has to be a corresponding initialization of that field to NULL in one of the constructors.  The problem is that this initialization gets generated when that constructor itself gets generated, meaning that the field has to be in place a

[2016-10-06 15:21] bandurvp commented on #33
Hi Peter, moreover I just realized that the field "numFields" _must_ be the first field of the class.  The reason is that the generated name of the field will contain the class structure's name, so it can not be accessed generically from the runtime.  But if it is the first field of the class, then I know its location and I can access it using pointer arithmetic.

[2016-10-06 16:22] peterwvj commented on #33
That's fine with me. I can add an IR transformations that adds the `numField`, as the first field, to each class.

[2016-10-06 18:19] nlmave opened #38 "native lib is not copied/installed when generating code"
When running the code generator in Overture 2.4.2 with vdm2c version 0.0.6 the nativelib directory is created when generating code but it remains empty.

[2016-10-07 13:51] #25 closed

[2016-10-07 14:28] peterwvj commented on #38
This is fixed in 0.0.8 we simply forgot to close the issue. Can you confirm this?

[2016-10-08 09:21] nlmave commented on #38
No, it doesn't work in 2.4.2/0.0.8 on Windows7. nativelib directory is
created but remains empty.

[2016-10-11 10:46] peterwvj opened #39 "Transformations"
| Id | Input......................... | Output | Comment |
| --: | :-- | :-- | :-- |
| 1 | `values a: A` | `a_const_init; a_const_deinit` | Handled by `CreateGlobalConstInitFunctionTrans` |
| 2 | `static a: A` | `a_static_init; a_static_deinit` | Handled by `CreateGlobalStaticInitFunctionTrans` |
| 3 | `a: A` | a-constructor, destructor | Handled by the class template |
| 4 | `op(a,b,c())` | `appl

[2016-10-11 13:58] peterwvj commented on #34
Based on a discussion we had we agree that the best approach for now is to manually call the static initialisation/de-initialisation functions. Of course this information needs to be described in the user manual.

[2016-10-11 13:58] #34 closed

[2016-10-12 13:29] #33 closed

[2016-10-12 13:32] #35 closed

[2016-10-12 13:33] bandurvp commented on #28
Hi Peter, is this related to the recently closed #33?

[2016-10-12 13:45] peterwvj commented on #28
Yes you are very right. I must have put it two times :)

[2016-10-12 13:45] #28 closed

[2016-10-18 10:22] peterwvj opened #40 "Sequence comprehensions"
One of the case study models uses a sequence comprehension on the form:

[code]

Comprehensions are not yet supported, but we should probably expand the feature set to include this. We'll start with sequence comprehensions.

[2016-10-18 10:28] peterwvj opened #41 "Poor user feedback when trying to code generate unsupported constructs"
The feedback output by the code generator when trying to code generate unsupported language constructs is poor. This can, for example, be demonstrated by trying to code generate the specification below:

[code]

[2016-10-25 07:17] peterwvj opened #42 "Set comprehensions don't work"
Support for set comprehensions is incomplete

[2016-10-25 07:46] #42 closed

[2016-10-25 09:39] #40 closed

[2016-10-25 09:51] miranha opened #43 "Constructor calling"
Currently constructors do not get an ID inside the Vtable, which makes them not accessible as normal function calls.
The constructors should also be given an ID inside the Vtable to enable this support.

[2016-10-25 09:53] miranha opened #44 "Add support for basic map operations"
Add support for the most commonly used map operations:

- [X] Domain, e.g. `dom m`
- [X] Range, e.g. `rng m`
- [X] Map union e.g., `m1 munion m2`
- [X] Map apply e.g. `m(key)`
- [X] Map inverse, e.g. `inverse m`
- [X] Map equality, e.g. `m1 = m2`
- [X] Map inequality, e.g. `m1 <> m2`

[2016-10-25 09:55] miranha opened #45 "Let be such that (let be st)"
When using a let be such that construct, we get an output that says (throw new RuntimeException("Let Be St found no applicable bindings");;). This is from the Java code generator templates, and needs to be updated

[2016-10-25 09:58] miranha opened #46 "Not supporting Unary"
Currently we do not support unary, see template APlusUnaryExpIR.vm: +$CFormat.formatUnary($node.getExp()).

Hence when we have such an expression, we get the following
+$CFormat.formatUnary($node.getExp());

The formarUnary() function is also missing for such a type of node.

[2016-10-25 11:30] peterwvj opened #47 "Add support for map comprehensions"
Do this after adding basic support for maps (see #44)

[2016-10-25 14:00] #46 closed

[2016-10-27 12:44] #43 closed

[2016-10-27 19:17] bandurvp commented on #3
I am closing this issue since it does not look as if "let" expressions are currently being generated as ({exp;stm;exp;}) constructs.

[2016-10-27 19:17] #3 closed

[2016-10-28 07:25] #45 closed

[2016-10-28 09:26] peterwvj opened #48 "Set equality check does not work"
Ordering of the elements affect the check. This can be demonstrated using the following program:

[code]

[2016-10-28 17:28] peterwvj commented on #44
I updated the issue to specifically describe what map operations the code generator supports

[2016-10-28 17:28] #44 closed

[2016-10-28 17:30] peterwvj commented on #48
This was fixed in 46ed0f0b2c622400aeaab8abed62496ae6cd1c79

[2016-10-28 17:30] #48 closed

[2016-10-28 17:35] peterwvj commented on #24
Thanks for reporting. Support for the most commonly used map operations has been added. See #44 for details.

[2016-10-28 17:35] #24 closed

[2016-10-28 17:39] peterwvj commented on #24
As demonstrated by your example, the code generator currently does a very poor job of informing the user about constructs that are not supported. This is captured by #41 .

[2016-10-31 08:52] miranha opened #49 "Function calls inside if expression"
The code generator does not wrap a bool function with the "toBool" (from VDM library), when used as the test condition in a if.

Example: "... if (op.isTrue()) ...". In this case this operation should be wrapped inside a toBool.

[2016-11-01 08:00] lausdahl opened #50 "`CALL_*` from `VdmClass` contains undefined behaviour - avrgcc does not generate an useful implementation"
The basic problem with `CALL_FUN` is that it uses a loop up table where functions has a type like:

[code]

 A typical function could look like:

[code]

this is then stored in the `vtable`
[code]

even though it looks ok the winavr compiler thinks otherwise to I think we must hit undefined behaviour. See this explanation for a good candidate for where the behaviour could be undefined in this case

[2016-11-01 08:09] lausdahl commented on #50
The function call macro is defined as:

[code]

This means that we could cast back the function ptr before invoking it:

[code]

By defining a macro that expands the vargs into a matching function type. This should be possible since we have everything we need: The type of `this` and the argument list from VARGS.

Here is a solution which constructs a `void*` cast e.g. it does not use the `this` ty

[2016-11-01 08:31] lausdahl commented on #50
I think this illustrate it:

[code]

the expanded version look like:

[code]

and since that standard says that we can temporary have to pointer stored in a "wrong" type it is ok if we cast it back before we use it. "wrong" refers to the fact that some types are smaller and cannot hold the function pointer so this excludes these.

@bandurvp lets give this a try when we get the JTAG again

[2016-11-01 10:30] lausdahl opened #51 "Missing cast in CLASS_CAST resulted in corrupt this pointer on ATMega1284p"
The issue is in:

[code]

a valid fix could be:

[code]

[2016-11-01 10:34] lausdahl opened #52 "Wrong behaviour when compiled to ATMega1284P"
If the code is compiled with optimisation `-O2` then it seem to break the generated code. Calls and variables does not work and have bad values.

http://www.avrfreaks.net/forum/avr-gcc-optimization-bug-reported-newbie

This could also be a side effect of #50 and #51

[2016-11-01 10:35] lausdahl opened #53 "Profile memory usage on ATMega1284P"
* Driver for the UART: http://www.avrfreaks.net/forum/atmega1284p-simple-serial
* http://stackoverflow.com/questions/960389/how-can-i-visualise-the-memory-sram-usage-of-an-avr-program
* http://www.nongnu.org/avr-libc/user-manual/malloc.html

[2016-11-04 09:11] lausdahl commented on #50
Note about `, ## _VA_ARGS__` https://gcc.gnu.org/onlinedocs/cpp/Variadic-Macros.html

[2016-11-10 16:27] bandurvp commented on #50
Hey Kenneth, I see what you've done here.  So what was the status when you left it?

[2016-11-10 16:34] bandurvp commented on #51
Fixed in commit 2d2f3b5dfc299027f886f0c93f2e5cf2c3b7032c

[2016-11-10 16:34] #51 closed

[2016-11-11 14:49] lausdahl commented on #50
I fixed this but it uses a  `void*` and not the actual struct type which is known to the call macro. So I think we need to check if `struct X*` and `void*` is considered equal in the C standard. If not we need to modify the macro `TVP_VARG_CAST_FE_1` to also take the struct type.

[2016-11-15 11:43] miranha opened #54 "vdm map update support in transformation"
Currently we cannot update a map, we get the library call from the Java code generator, e.g. vdmMapUpdate:

Example:
fcus : map  Controller to FcuInfo := {|->};
...
	for all f in set fs do
		fcus(f) := mk_FcuInfo(0,0,0,0); -- NOTE: This is generted wrongly

[2016-11-15 13:37] peterwvj commented on #47
Currently, we don't really need this so we've decided not to implement this feature in the C code generator. Comprehensions are available for sequences and sets though.

[2016-11-15 13:45] #50 closed

[2016-11-16 12:49] #49 closed

[2016-11-16 13:49] peterwvj commented on #54
I added tests to check that collection updates are handled correctly. Currently, sequence updates work, but map updates do not. The problem is that the generated code assumes the existence of a function `vdmMapUpdate`, which does not exist. I've informed Victor about this and he is now working on updating the runtime.

[2016-11-18 08:58] #54 closed

[2016-11-18 13:38] miranha opened #55 "Constructors issues for compilation"
Using different "types" of constructors (e.g. public, private protected)

Having different constructors in a VDM model, such as:

[code]

This will cause an error for the c code compilation, since we get the error "static declaration of '_Z10ControllerEV' follows non-static declaration", since that empty arguments constructor is generated as "static", because it is "protected" in the VDM model

[2016-11-18 14:17] peterwvj commented on #55
Thanks for reporting. As far as I recall this involves changing something in the templates. @bandurvp are you on to this? If it involves changing some of the transformations then I'm happy to help.

[2016-11-18 14:19] bandurvp commented on #55
Yes I will take a look at this, but I don't think I can do it before I return from the meeting in Paris next week.  Or while I'm there if I get the time.

On 11/18/2016 03:17 PM, Peter W. V. Tran-Jørgensen wrote:

[2016-11-18 14:34] peterwvj commented on #55
Thanks, Victor. That's fine, I think Miran plans to work on the case study some time after Paris.

[2016-11-18 14:37] miranha commented on #55
Victor, we can have a talk in Paris about it. I can also add it. I think the problem in this case is the order of the generation of the different functions.

[2016-11-18 14:47] #38 closed

[2016-11-18 14:49] peterwvj commented on #38
I added a fix for this issue. I can confirm that the native lib is now copied correctly on both Windows and Linux. The fix will ship with the next release of VDM2C. Alternatively, if you want to try it now, you can install one of the development versions of VDM2C, for example http://overture.au.dk/vdm2c/pvj/development/repository/

[2016-11-20 12:49] lausdahl opened #56 "Make sure a list of generated source files are available for the Overture FMU export"

[2016-11-21 15:12] #41 closed

[2016-11-21 15:37] peterwvj commented on #31
Hi @bandurvp. I assume you mean that you want to move the code that outputs the native library to the core so that it can be used by both the CLI and the IDE? So as far as I understand this method must extract the native library sources from `vdmclibJar` to `outputfolder`. Does this sound reasonable? The signature of this method would then be:

[code]

[2016-11-21 16:10] bandurvp commented on #31
Hi @peterwvj , yes this sounds right.

[2016-11-22 10:07] #31 closed

[2016-11-22 12:37] peterwvj commented on #17
The CLI now allows individual *VDM-RT* files to be passed to the code generator like you suggest, @tfabbri. Sample usage is shown below:

[code]

I decided to not include the "print-to-console" feature that I originally requested. Even for the smallest model the code generator produces so much C code that it I don't find this feature helpful. Please let me know if you think otherwise.

[2016-11-22 12:39] #17 closed

[2016-11-23 15:13] bandurvp opened #57 "Emit global system initialization function"
Source code FMU export from overturetool/overture-fmu emits initialization calls in the correct order.  That functionality should be used to emit a single global init function to be called (easily) from main().

[2016-11-28 16:21] bandurvp commented on #55
Miran, the test I have for constructors contains exactly the same structure as what you indicate above:  I have a default constructor that does not take any parameters but which does have a custom body.  The custom body gets implemented and inserted in the body of the generated default constructor, so there is no interference.  Maybe we should sit down and compare output.  If you generate from the

[2016-11-28 16:31] bandurvp commented on #55
I take that back, I totally overlooked the "protected" part.  Please stand by.

[2016-11-28 20:23] bandurvp commented on #55
Fixed in commit c8c4b06a7378e41607e59303011f69c33104cd83.

[2016-11-28 20:23] #55 closed

[2016-11-28 20:32] #10 closed

[2016-11-28 20:37] bandurvp commented on #57
Approach is to bundle the functions with the empty main.c file, perhaps inserting the calls there.

[2016-11-30 13:55] peterwvj opened #58 "Document release procedure"
The README should be updated to describe the steps of the release process.

[2016-11-30 14:33] bandurvp opened #59 "Incorrect reference to unused subclass"
The FCU INTO-CPS case study at https://github.com/into-cps/case-study_fcu contains a sub-class `MechanicalController` that is not used in the rest of the model.  When the model is generated, the constructor `_Z6SystemEV` in file `System.c` contains lines like

`TVP field_tmp_19 = vdmClone(_Z15ActuatorLimitedE8CRealPort(NULL, GET_FIELD(MechanicalController, MechanicalController, vdmClone(g_System_h

[2016-12-01 16:12] bandurvp opened #60 "Start statement prevents file from being emitted"
Following spec demonstrates the problem:

[code]

[2016-12-02 12:55] bandurvp commented on #60
Further, the reason is that there is no template for the `start` statement:

This must have been introduced recently, because I successfully generated FMUs for models containing the `start` statement with the FMU exporter which, IIRC, depended on version 0.0.8 of VDM2C at the time.

[2016-12-02 13:00] bandurvp commented on #56
Fixed in commit 37bde33dd888f67bcd95abb371b0e5ff5eb39ffd.

[2016-12-02 13:00] #56 closed

[2016-12-02 15:39] #60 closed

[2016-12-02 15:43] peterwvj commented on #60
As you said, the problem was due to a missing template.

The good thing is that the VDM2C plugin correctly reports the missing template:

[code]

However, we should  update the FMU exporter to report the lack of support for constructs as well.

[2016-12-02 15:49] bandurvp commented on #57
Finished in commit 91e974fb2f8b005b5c14fec1821e2a57908e05b5.

[2016-12-02 15:49] #57 closed

[2016-12-02 18:32] peterwvj commented on #59
I'm not sure I entirely understand this issue. Does it have to do with the `HardwareInterface` or is that unrelated?

The VDM-RT model that I can find in the FCU repository is quite large. Can this issue be demonstrated using a much smaller example? Preferably one that does not use the `HardwareInteface`.

[2016-12-02 20:49] #58 closed

[2016-12-05 13:59] bandurvp commented on #59
Hi Peter, I have tried to make a minimal example with no success.  Then I tried growing the example where it is essentially the same as the initial model, but with everything else removed, but this also does not reveal the problem.  The example I have now has all the required classes, but in a single file.

[2017-01-12 13:39] bandurvp commented on #59
Hi Peter,

I've pared down the model to that included below.  It seems the problem has to do with variables in different classes having the same name.  It has nothing to do with inheritance as I initially thought.  There is a comment on the variable in question below.

[System-vdmrt.txt](https://github.com/overturetool/vdm2c/files/701817/System-vdmrt.txt)

[2017-01-12 14:00] bandurvp commented on #59
A simplification to the file above:

[code]

[2017-01-13 14:26] #59 closed

[2017-01-26 10:47] bandurvp opened #61 "Case study models for compilation regression testing"
Include the following models for compilation regression testing.

- [x] Single water tank pilot study found at into-cps/case-study_single_water_tank/Models/SingleWT
 - https://github.com/into-cps/case-study_single_watertank

- [x] Three water tank pilot study found at into-cps/case-study_three_tank/Models/WaterTankController
- https://github.com/into-cps/case-study_three_tank

- [x] Line follower

[2017-01-26 10:48] bandurvp opened #62 "Implement CSV library"
For Agro steering controller.

[2017-01-26 12:26] peterwvj commented on #61
Very good. I'll work on this some time next week.

[2017-01-26 18:51] peterwvj commented on #61
Hi @bandurvp. I was looking for the case studies in the INTO-CPS SVN repository but I couldn't find them. Could you please provide me with a direct URL (perhaps by sending it to me by email)? Are they stored somewhere else? Thanks!

[2017-01-26 19:16] bandurvp commented on #61
Hi Peter,

I meant in the into-cps GitHub project.

Victor

On 01/26/2017 07:51 PM, Peter W. V. Tran-Jørgensen wrote:

[2017-01-26 19:31] peterwvj commented on #61
Oh.. You're right. The case study models exist as individual GIthub repositories under the [INTO-CPS organisation](https://github.com/into-cps). Thanks.

[2017-01-26 19:38] bandurvp commented on #61
That's right, I'm sorry I should have been clearer about it.  They're maintained like this because it plays well with the INTO-CPS App, where projects are stored as GitHub projects.

On 01/26/2017 08:31 PM, Peter W. V. Tran-Jørgensen wrote:

[2017-01-27 08:37] peterwvj opened #63 "Add support for product types"
One of the case study models uses product types, which is not yet supported.

 In the runtime there is already support for them.  The value constructor functions is "newProductWithValues(size_t size, TVP *elements)". If we're lucky this should mostly be a matter of updating the templates.

[2017-01-30 09:12] #63 closed

[2017-01-30 09:40] peterwvj opened #64 "Simplify Continuous Integration"
Migrate VDM2C to a Jenkins Multibranch Pipeline project. Overture's [JenkinsFile](https://github.com/overturetool/overture/blob/development/Jenkinsfile) should be a reasonable template.

[2017-01-30 15:11] peterwvj opened #65 "Add limited support for function instantiations"
One of the case studies uses function instantiations, e.g. A`f\[nat\](); so we need to add support for that.

[2017-01-30 19:26] #65 closed

[2017-01-30 21:03] peterwvj opened #66 "Problem with for loop statements"
If the `by` clause of a for loop statement is omitted, the corresponding increment in the generated code is wrong. To demonstrate this, consider the following VDM for loop:

[code]
The relevant code is:
[code]
This does not work, since `toInteger` expects a `TVP`. However, if the `by` clause is made explicit, the code comes out correctly:

[code]

[2017-01-30 21:41] #66 closed

[2017-01-31 16:47] peterwvj opened #67 "Problem with functions and operations that take multiple arguments"
There seems to be a problem with code generation of functions that take multiple arguments. The problem can be demonstrated using the following model:

[code]

In the generated code the call to `condfun` is missing the second argument:

[code]

[2017-02-01 09:24] #67 closed

[2017-02-01 15:11] peterwvj opened #68 "Update VDM2C to use garbage collection"
The runtime library is currently being extended with support for garbage collection. The process of updating the code generator to use the garbage collector can, broadly speaking, be divided into the following tasks:

- [x] Add a `GarbageCollection` transformation that emits `*GC` calls (described below)
    - Make sure that the relevant nodes in the IR get annotated with GC related information
-

[2017-02-02 16:56] peterwvj commented on #68
The test system was updated to use fixtures using the following commands

[code]

[2017-02-06 11:39] peterwvj opened #69 "Make vdmFree compatible with GC"

[2017-02-06 12:44] #62 closed

[2017-02-06 12:48] bandurvp opened #70 "CSV library to read file from "resources" directory"
CWD is not set during co-simulation to the "resources" directory.  Use uri.c, uri.h from here:
[https://gitlab.au.dk/into-cps/shm-fmi/tree/development/libshmfmu](url)

[2017-02-07 15:44] bandurvp commented on #69
Completed in commit ff35379a2dfc36fe75101810b3bc88cbe8799042

[2017-02-07 15:44] #69 closed

[2017-02-09 09:42] peterwvj commented on #68
For practical reason we might also want to add `seqVarCG`. The problem is that currently a string is treated as sequence of characters. For example, the VDM fragment `v = "hi"` is translated to `TVP v = newSeqVar(2, newCharGC('h', NULL), newCharGC('i', NULL))`, which the garbage collector currently cannot handle. What do you think, @bandurvp ?

[2017-02-10 13:49] peterwvj opened #71 "Naive identification of default super constructor"
When VDM2C generates a call to a default constructor of a super class it naively assumes that the constructor takes the form:

[code]

This assumption is wrong, since the `this` parameter hasn't been added at this point.

[2017-02-10 14:17] #71 closed

[2017-02-15 09:58] peterwvj commented on #61
@bandurvp @miranha

The case study models listed above are now included as submodules in the main repository. So make sure you run `git submodule update --init` after you merge `pvj/gc`. In addition, I've set up a unit tests that performs compilation regression testing for each of these models.

Should we add additional models for testing?

[2017-02-15 09:58] peterwvj commented on #61
I should say that currently the case study models are only tested using VDM2C/GC.

[2017-02-15 12:33] peterwvj opened #72 "Reduce the size of the runtime library"
The plan is to reduce the runtime library using condition compilation. For example, if a model does not use sets then it does not need the corresponding part of the runtime library. Currently, we'll check if the model uses the following VDM features:

- [x] sets
- [x] sequences
- [x] maps
- [x] patterns (unless it's identifier patterns)
- [x] products
- [x] records
- [x] uses garbage collection
-

[2017-02-16 13:30] peterwvj commented on #72
@bandurvp The FMU exporter would not something like this:
https://github.com/overturetool/vdm2c/blob/pvj/gc/ide/cgen/src/main/java/org/overture/ide/plugins/cgen/generator/CGenerator.java#L83

[2017-02-16 14:03] peterwvj commented on #68
Currently VDM2C/GC does not consider the self expression. For example,

[code]

is currently translated to

[code]

.. but really it should be

[code]

[2017-02-16 20:00] peterwvj commented on #68
The self expression issue was fixed in dcd52a5

[2017-02-17 09:59] peterwvj commented on #64
Completed in e4c1eef35b79e0180013cc19448b340af61ce6c4

[2017-02-17 09:59] #64 closed

[2017-02-20 14:43] bandurvp commented on #72
Tests were excluded from the runtime library based on the ```VdmModelFeatures.h``` file in comit 6b72d34bdf740d5a4fe04bb6418b2d375a1d62fe.

[2017-02-20 14:44] bandurvp commented on #72
Pattern matching was excluded from the runtime library based on the ```VdmModelFeatures.h``` file in commit a0c22b34598c8f26e0c956ce421a8c46d9f9fdc3.

[2017-02-22 10:21] bandurvp commented on #72
Dependency graph for ```VdmModelFeatures.h``` file:  ```Maps --uses--> Sets``` and ```Seqs --uses--> Sets```.

A note on reducing the size of the runtime based on NO_SETS:  for maps it is currently impossible to eliminate map operations that use sets when NO_SETS is specified because the implementations of many of the map operations that do *not* rely on sets in their signatures themselves use set

[2017-02-22 14:32] bandurvp commented on #72
@peterwvj , I think we can eliminate NO_VDMUNIT from this effort.  There is no corresponding implementation in the runtime and there is no plan to support VDM unit testing.

[2017-02-28 13:17] #61 closed

[2017-02-28 15:31] bandurvp opened #73 "Generated code to contain the version number of the generator."
Not yet sure where the best place for this would be, need to discuss.

[2017-02-28 19:21] peterwvj commented on #73
That's a good idea. We could add it as a comment in every file that is generated, i.e. the header files, the .c files and the model features file. Am I missing some? We could add something like that shown below, but if you have another suggestion then I'm happy to use that.

[code]

[2017-03-01 14:16] bandurvp commented on #73
Sounds good.  I'm thinking of how to get the same information into the static runtime files.  If you have a good idea let me know!

Victor

On 02/28/2017 08:21 PM, Peter W. V. Tran-Jørgensen wrote:

[2017-03-01 15:03] peterwvj commented on #73
It is possible, using some Maven plugin, to perform a `sed`-like function. If that works well, we could use this approach to update version numbers as part of the release process.. but I would have to look into this before I can say for certain that this is a viable solution.

[2017-03-01 15:20] bandurvp commented on #73
That's the sort of thing I had in mind as well, insert the version number via some sort of sed replace after everything is in place.  I can write the sed stuff if we go ahead with this.

Victor

On 03/01/2017 04:03 PM, Peter W. V. Tran-Jørgensen wrote:

[2017-03-01 18:57] peterwvj commented on #73
Inspired by [this](http://stackoverflow.com/questions/3697449/retrieve-version-from-maven-pom-xml-in-code) and [this](http://stackoverflow.com/questions/8764500/programmatically-getting-the-maven-version-of-your-project), I've updated the code generator to emit the above comment in the following files:

- main.c
- MangledNames.h
- VdmModelFeatures.h
- header files (.h) and C sources (.c) that repr

[2017-03-02 16:15] #70 closed

[2017-03-02 16:17] #6 closed

[2017-03-03 09:53] bandurvp commented on #73
Works well on my end.  Regarding the main.c file, you're referring to the one that's output when CG is invoked from the menu in Overture, right?

Victor

On 03/01/2017 07:57 PM, Peter W. V. Tran-Jørgensen wrote:

[2017-03-03 10:05] #72 closed

[2017-03-03 10:11] #68 closed

[2017-03-03 10:18] peterwvj commented on #73
Good! Yes, the one that is emitted by Overture.

[2017-03-14 15:07] bandurvp opened #74 "Use appropriate version of CALL_FUNC with argument expansion."
Discovered while testing with ATMega128.

[2017-03-14 15:07] bandurvp commented on #74
Fixed in 8890910421eb6c283cea3a058dde58148a120a90.

[2017-03-14 15:07] #74 closed

[2017-03-14 15:08] bandurvp opened #75 "Change string comparison in CLASS_CAST to use strcmp."

[2017-03-14 15:08] bandurvp commented on #75
Fixed in f84d3012437d95119be29685f8faa23e14693dd2.

[2017-03-14 15:08] #75 closed

[2017-03-14 15:09] bandurvp commented on #36
Is fixed in 8890910421eb6c283cea3a058dde58148a120a90.

[2017-03-14 15:09] #36 closed

[2017-03-14 15:11] bandurvp commented on #52
Commit 8890910421eb6c283cea3a058dde58148a120a90 works with optimization level -O3.

[2017-03-14 15:11] #52 closed

[2017-03-14 15:12] bandurvp commented on #53
With latest version of FMU exporter and VDM2C, RAM usage is constant as of 8890910421eb6c283cea3a058dde58148a120a90.

[2017-03-14 15:12] #53 closed

[2017-03-15 14:27] miranha opened #76 "Range information for quote types"
The distributed code generator needs to be able to associate a given quote type element with its type as defined under the ```types``` clause.  The idea is three-fold.

1. Change the name of quote ```#define```s from ```QUOTE_<literal_name>``` to ```<QuoteTypeName>_<literal_name>```.  This allows the generator to handle the case of overlapping quote literal names, as shown in the model below.

2.

[2017-03-15 14:34] miranha opened #77 "ID information for record types"
Ensure all record types have unique IDs across the model.  For integration of distribution with ASN.1.

[2017-03-16 14:09] bandurvp commented on #76
@peterwvj I originally assigned myself to this thinking that it would be a quick job for me, but it's more involved than I imagined, requiring your expertise!

[2017-03-16 14:24] bandurvp commented on #77
@miranha the ID information is in fact unique for all record types across the model.  The naming scheme is
[code]

[2017-03-16 14:24] #77 closed

[2017-03-17 17:30] peterwvj commented on #76
I may misunderstand what this issue is really about, but to make it clear: quote types do not have to appear in a `types` clause before they can be used. Think of a quote type `<A>` as a type that only has a single value, namely `<A>`. To demonstrate, consider the following type-correct VDM class:

[code]
So perhaps we need to approach this in a different way? Can you try to clarify the problem we

[2017-03-17 18:05] miranha commented on #76
Yes, I agree face-to-face would be best. Victor and I also created this issue after we talked in person, so maybe it is not clear for others. Lets talk about this next week then.

[2017-03-20 14:11] peterwvj commented on #76
Based on today's discussion the solution is to:

* Leave generated code as it
* Serialise quotes as integers

[2017-03-20 14:11] #76 closed

[2017-03-21 13:36] peterwvj opened #78 "Functions types crash VDM2C"
The code-generator seem to crash when models contain functions types, for example:
[code]
For this model, the following error is printed to the console:
[code]
Although VDM2C does not support function types, it should gracefully terminate the code-generation process -- for example by saying that functions types are not currently supported.

[2017-03-21 18:01] peterwvj opened #79 "Better reporting of unsupported constructs"
Currently, all constructs (even those that we don't support) have a template. This messes things up, because the code-generation platform assumes that a template only exists iff a construct is supported. To fix this, we must remove all templates for constructs that we don't support.

[2017-03-29 09:28] peterwvj opened #80 "Add support for tokens"
The Alarm example uses tokens, which we don't support. What to do?

- [x] add newToken(TVP v) + GC version in the runtime
  - The argument is a sequence of characters
- [x] update all relevant runtime functions
- [x] update  name mangler accordingly
- [x] Convert `mk_token(...)` expressions to apply expressions
- [x] update garbage collection transformation

[2017-03-29 11:36] peterwvj opened #81 "Name mangling is missing for tokens"
The name mangler must be updated to also take token types into account.

[2017-03-29 13:21] #81 closed

[2017-03-30 11:26] peterwvj opened #82 "Support 'forall' and 'exists'"
We need to add support for

- [x] `forall` expressions
- [x] `exists` expressions

Note that this issue does not include adding support for `exists1`

[2017-03-30 12:12] #82 closed

[2017-03-30 12:48] peterwvj opened #83 "Field initialisers must receive "this" as an argument"
VDM++ allows field initialisers to access others instance variables. Therefore, the `fieldInitializer` that are generated by VDM2C must also receive `this` as input.

[2017-03-31 07:10] peterwvj commented on #83
I should make it clear that this only applies to field initialisers of instance variables

[2017-03-31 07:20] #83 closed

[2017-03-31 08:26] peterwvj opened #84 "Improve filtering of VDM input files"
When VDM2C is invoked via the command-line interface all source files are required to be VDM-RT files. This is not really a reasonable limitation, since VDM2C is capable of handling VDM++ models. Also, the VDM2C Eclipse plugin can handle VDM++ projects perfectly well.

[2017-03-31 11:23] bandurvp commented on #80
Runtime library support available as of commit 112ebb91991748bb7dcf3acce6c5e93793ba3f66.

[2017-03-31 13:20] bandurvp opened #85 "Add GC support for sequences"
From previous communication with @peterwvj :

[2017-03-31 13:24] #84 closed

[2017-03-31 14:36] bandurvp commented on #85
The signature of ```newSeqVar()``` is ```TVP newSeqVarGC(size_t size, ...)```.  I am thinking of putting the ```from``` parameter before the list of arguments, as such:  ```TVP newSeqVarGC(size_t size, TVP *from, ...)```.  Is this OK from the point of view of the Java side, @peterwvj ?

[2017-03-31 14:44] #80 closed

[2017-03-31 14:46] peterwvj commented on #80
The token tests that I just added pass. Next step is to try it with the Alarm example.

[2017-03-31 14:53] peterwvj commented on #85
Sure! I'll just handle it as a special case in the garbage collection transformation :) It should not be a problem.

[2017-03-31 15:09] bandurvp commented on #80
Fantastic stuff!!

Victor

On 03/31/2017 04:46 PM, Peter W. V. Tran-Jørgensen wrote:

[2017-03-31 15:36] bandurvp commented on #85
Added in commit 1bac2398465603ef9b60ad173729a09d014e53ec.

[2017-04-04 07:30] peterwvj opened #86 "Test system issue"
I noticed that if you set up a JUnit test that tries to code-generate a model that is not type-correct then the test still passes. Obviously that's not ideal since the current test system relies on models being type-correct. Instead the test should fail when the model has parse/type errors.

This problem happens because the test system invokes the command-line interface (CLI) directly (the "main"

[2017-04-04 09:07] #86 closed

[2017-04-04 11:18] #79 closed

[2017-04-04 13:23] bandurvp opened #87 "Alarm example GC support"
The Alarm example model requires further GC support for the following:

### Runtime library:
- [x] Sets
- [x] Sequences
- [x] Maps
- [x] Tuples

### Generator - Sequences:
- [x] newSeqVarGC - this one has signature ```(size_t size, TVP *from, ...)```, note the position of ```from```
- [x] vdmSeqTlGC
- [x] vdmSeqLenGC
- [x] vdmSeqHdGC
- [x] vdmSeqConcGC
- [x] vdmSeqReverseGC
- [x] vdmSeqIndexGC
- [

[2017-04-05 18:10] #78 closed

[2017-04-07 12:52] peterwvj opened #88 "Finalise pretty-printer function"
There is already some work on a TVP pretty-printer function in PrettyPrinter.c. We need to finalise this function as we need it to test the alarm example. Also, ensure that the top-level function is called "toString" rather than "printVdmBasicValue".

[2017-04-10 12:59] bandurvp opened #89 "Exercise plan for AlarmPP model"
Devise an exercise plan, written in VDM, that exercises execution time and memory usage.  This night be split up into:

1. A validation plan, that ensures that the generated model behaves as it should.
2. A (potentially independent) exercise plan.

[2017-04-10 14:25] bandurvp commented on #88
According to our discussion today, @peterwvj , I'll postpone working on this any further.  At the moment I don't see an economical way of carrying around the names of classes and records, so it does not make good sense to clutter the binary.

[2017-04-10 14:25] #88 closed

[2017-04-11 15:36] bandurvp commented on #89
I have discovered a useful feature of VDMTools.  Basic values at least, such as ```bool```, can be pretty-printed in the usual C++ way ```cout << var;```.  I have used this in the validation plan to confirm that the VDMTools generated code works as expected.

[2017-04-11 20:28] peterwvj commented on #89
Cool. I actually thought we tested that -- perhaps we only tried it on user-defined data types :)

[2017-04-17 18:12] bandurvp commented on #87
@peterwvj , the Alarm example generates ```newSetVarToGrow```calls.  I think these need GC support, because they have no corresponding ```vdmFree``` calls.  Am I right?

[2017-04-18 10:59] peterwvj commented on #87
Yes, I think you are right @bandurvp . I think it's used to construct the resulting set of a set comprehension (which gets populated as the comprehension is executed). I added it to the list of TODOs above. Is there a GC version in the runtime?

[2017-04-18 11:43] bandurvp commented on #87
Hi @peterwvj , there is no support for this in the runtime, I'll add it.

[2017-04-18 11:47] bandurvp commented on #87
@peterwvj there is a similar issue with ```vdmMapApply```, no calls are emitted to ```vdmMapApplyGC``` and those to ```vdmMapApply``` are not ```vdmFree```d.  For example, there is an intermediate call to ```vdmMapApply``` that looks like it should be the GC version in Plant.c:

```if ( toBool(vdmSetMemberOfGC(	vdmMapApply(GET_FIELD_PTR_GC(Plant, Plant, this, schedule),p), ex, NULL)) )```

I saw t

[2017-04-18 16:42] peterwvj commented on #87
@bandurvp I forgot to merge my work on `vdmMapApply` into `development` although I had checked it off in the list above. Sorry about that. I just fast-forwarded `development` so it should be there now.

[2017-04-18 17:27] peterwvj commented on #87
@bandurvp , I just tried to add GC support for `newSetVarToGrow`, but my changes now causes the `ExpressionComprehensions` test defined in the`NativeGarbageCollectionTest`class to fail. The error message being reported is:

[code]

This runtime error can be produced by running, for example, the `retSetComp` google test. Based on the error message I think this there might be a problem in the runtim

[2017-04-19 09:40] bandurvp commented on #87
Hi @peterwvj , yes I expected as much.  ```newSetVarToGrowGC``` works in the runtime library tests, but I found the same problem when I used it in the generated Alarm example.  I'm working on it now and will keep you posted.  It's good that it causes problems in this test because of how small it is.

[2017-04-19 09:50] peterwvj commented on #87
Thanks, Victor.

[2017-04-19 15:22] bandurvp commented on #87
Hi Peter, I've just pushed a fix for the ```newSetVarToGrowGC``` problem.  It solves the issues in the Alarm example, please let me know whether it also fixes the failing tests.

[2017-04-19 17:28] peterwvj commented on #87
Thanks for taking care of that. Yes, I can confirm that your changes fix the failing test. Support for `newSetVarToGrowGC` is now available in `development`. Do you know of other constructs that we need to support in order to make the alarm example work?

[2017-04-19 17:31] bandurvp commented on #87
Not at this time.  Now I'm tracking down a leak in the garbage collector.

[2017-04-19 17:41] peterwvj commented on #87
Sounds good, Victor. Tomorrow I'll continue working on the constructs listed above. If you come across constructs that are used in the Alarm example, and which we don't support yet, please let me know.

[2017-04-20 15:20] bandurvp commented on #87
Hi @peterwvj , it looks like the Alarm example runs now without memory leaks, except for one thing.  I can't figure out what's causing it, but I know how to fix it.  It involves function return values that are ```vdmCloneGC```d.

In the following VDM operation
[code]
```V1``` to ```V4``` are simply operations that return a boolean.  The generated code looks like this:

[code]
Calling this function

[2017-04-20 15:25] tfabbri commented on #21
I'm experiencing some issues during the integration of VdmRecord into TASTE.
In particular, I'm noting that `VdmRecord.h` is not included by none of the the other files in the vdmclib.

[2017-04-21 05:11] peterwvj commented on #87
Sure, if it's safe (generally) to rewrite all occurrences of "ret" variables like you suggest then I'm happy to do it. I guess it's just a special case that the garbage collection transformation must take into account. I might also need to tag the "ret" variable declarations once they are created (by other transformations) but that shouldn't problem, I think.

[2017-04-21 05:12] peterwvj commented on #87
I'll try to get that done today.

[2017-04-21 05:16] peterwvj commented on #21
@bandurvp can you clarify why that is? :)

[2017-04-21 07:32] tfabbri opened #90 "VdmSequence - ASN.1 Sequence"
During the development of the TASTE support, I'm noting a different behavior for test applications compiled through clang-(Apple LLVM 7.0.2) and gcc-4.9.2 (Linux). A simple code like the following arise a SEGFAULT in clang and works like a charm in the gcc.

[code]

[2017-04-21 07:55] peterwvj commented on #87
Now the garbage collection transformation doesn't pass the addresses of "return" variables. My change is pushed to `development`. Could you give it a try?

[2017-04-21 10:14] bandurvp commented on #21
Hi @tfabbri , that header file is included when a model using records is generated.  I've tried to keep ```#include```s to a minimum in the runtime library, but if you need a specific inclusion hierarchy I can change it around.  Could you explain what kind of layout you need for integration with TASTE?

[2017-04-21 10:28] tfabbri commented on #21
Hi @bandurvp, when working on the translation functions between the c code generated from vdm2c and the c code generated from asn1, I include "Vdm.h" which includes all the other header files excluding VdmRecord.h. I've tried to brutally insert `#include "VdmRecord.h"` into `Vdm.h` with no luck. Is there any other workaround?

[2017-04-21 11:06] bandurvp commented on #87
Hi Peter, it works, thank you!  Actually I woke up with a pang this morning thinking that it would not work in the case where the result of a function is assigned to a field variable and then the GC called.  But I've tested it and it works fine because the mechanism for setting fields does the proper cloning.

[2017-04-21 11:36] peterwvj commented on #87
Cool :) We should try to sit down together next week and generate some initial results for the paper then.

[2017-04-21 12:09] bandurvp commented on #89
An update, an initial stress test runs correctly and without memory leaks.  The test model code is in the SVN in the WellFoundedCG paper folder.

[2017-04-21 12:32] bandurvp commented on #89
@peterwvj , I'm very happy to report that the first test, that in which I check whether the generated code actually performs correctly, shows code from VDM2C to use almost half the total memory that code from VDMTools does!

[2017-04-21 12:43] peterwvj commented on #89
Awesome, Victor :) That's very promising. Thanks for letting me know!

[2017-04-25 13:20] bandurvp opened #91 "Make exported code C99 compliant"
This description to be updated soon with what specific constructs must be changed.

[2017-04-26 08:33] #87 closed

[2017-04-26 13:14] bandurvp opened #92 "Investigate Maven test hanging when compilation of test code fails"
The file to change is ```core/src/test/resources/CMakeLists.txt```.  Thange ```-std=c11``` to ```-std=c89``` in the following block:
[code]
On my machine ```CasesTest``` hangs via ```mvn clean install```, but the actual problem is that the compilation fails.

[2017-04-26 16:30] peterwvj commented on #91
Victor, if 651566093f1570020f60d06de4c12bc53e445ad5 forces C99 for all the generator tests does this not imply that we're already C99 compliant? I mean, the tests pass.

[2017-04-26 16:56] peterwvj commented on #92
@bandurvp I just tried to run all tests with `-std=c89` and although most of them fail due to the conformance check, none of them seem to hang. Is this a problem you can reproduce?

[2017-04-28 07:57] bandurvp commented on #91
Hi @peterwvj, yes that's right.  So we're good for C99, at least as far as the tests go.  I'm now working on C89 compliance, which is a bit more strict.  But so far it only has to do with comments and not with any constructs emitted by the generator.

[2017-04-28 08:31] peterwvj commented on #91
Sounds good, Victor.

[2017-04-28 08:42] bandurvp commented on #92
Hi @peterwvj , I can't reproduce it any longer, it might have been a transient thing on my computer.  Let's just leave it alone.

[2017-04-28 08:47] peterwvj commented on #92
Good, thanks for following up.

[2017-04-28 08:47] #92 closed

[2017-04-28 08:48] bandurvp commented on #91
In this case I'll close this one and open another for C89.

[2017-04-28 08:48] #91 closed

[2017-04-28 08:51] bandurvp opened #93 "Make exported code C89 compliant"
So far the only non-conformant examples I see in the code are instances of
[code]
For C89 conformance the declaration of ```iterator_1``` must be done before:
[code]
I've changed all these in the runtime library, what remains comes from the generator, so I'll only assign this to you @peterwvj .

[2017-04-28 08:58] peterwvj commented on #93
Good, I'll take care of that.

[2017-04-28 09:01] bandurvp commented on #93
Very nice!  Then we'll be all set for the CLP guys and their method of deploying the generated code automatically to embedded platforms.  We should release at that point.

[2017-04-28 12:24] bandurvp commented on #90
Hi @tfabbri ,
The reason you're getting this with clang is that, in this specific case, the function ```newSeq()``` is not declared in the header file ```VdmSeq.h```, since it is meant as an internal function (I should have perhaps made it ```static```).  You should see a compiler warning for this.  What happens is that the compiler infers the wrong type for it and it all goes downhill from there.

[2017-04-28 14:09] bandurvp commented on #21
Hi @tfabbri , I've made some changes so that ```VdmRecord.h``` is now included from ```Vdm.h``` as you first tried.  Does this help?

[2017-04-28 14:23] #37 closed

[2017-05-01 08:56] #93 closed

[2017-05-01 08:57] peterwvj commented on #93
Like you said, it was only a matter of converting all the for loops into C89 compliant ones. The generated code is now C89 compliant.

[2017-05-02 10:29] tfabbri commented on #90
You are right.
There is an implicit-declaration warning at the newSeq call.
I've changed to newSeqVar, and not it seems work. Thank you so much Victor

[2017-05-02 11:35] peterwvj commented on #47
After studying the Overture examples I found that the CashDispenser example (VDM++) is a suitable example to use in the paper, the reason being that this model uses a recursive function to analyse transactions.  The model happens to use map comprehensions, which is why I'm re-opening this issue.

[2017-05-02 12:41] peterwvj commented on #47
@bandurvp , map comprehensions use `vdmMapGrow` and `vdmMapFit`, but these functions don't have GC counterparts in the runtime. Can you confirm that this is OK?

[2017-05-03 08:10] bandurvp commented on #47
Hi Peter, that's right, these don't need GC versions.

[2017-05-03 08:16] tfabbri commented on #90
Hi @bandurvp,

just a quick update: as you said `newSeq` is an internal function. The function `newSeqVar` requires the TVPs to insert into the sequence. If I want an empty sequence with a specified sized, I have to use the `newCollection` function or there is an other specific library function?

[2017-05-03 08:17] peterwvj commented on #47
Great, then we can consider this issue closed.

[2017-05-03 08:17] #47 closed

[2017-05-03 08:23] bandurvp commented on #90
Hi @tfabbri , ```newCollection``` is also an internal function, so you should not use it.  You can use ```newSeqVarToGrow(initial_size, expected_size, ...)```, pass it an initial size of 0 and the specified size.  The rest of the arguments can be omitted since the initial size is zero.  The purpose of this function is that it preallocates memory to ```expected_size```.

[2017-05-03 12:55] bandurvp opened #94 "Field access generated instead of operation call"
Generating the following model,
[code]
results in the following implementation of ```Step```:
[code]
where ```getValue``` is being treated as a field of class ```HmiCmd```.  However, ```embeding_1``` should be assigned the result of calling the function ```getValue```:
[code]

[2017-05-03 13:15] bandurvp opened #95 "Access to incorrect static field generated"
When the following model is generated
[code]
the initialization of ```b``` in class ```C``` is generated as the field initializer
[code]
which incorrectly accesses the static field ```a``` of class ```B```.  It should be generated as,
[code]
to access public non-static field ```a``` in class ```A```.

[2017-05-03 13:57] tfabbri commented on #90
@bandurvp  so, if I am correct, following the approach developed to add new elements to the vdm sequence I have to call `vdmSeqGrow` for each new TVP to insert. And to read I have to call `vdmSeqIndex`?
Lot of changes have been done in vdmclib :)

[2017-05-04 10:31] #94 closed

[2017-05-04 10:32] peterwvj commented on #94
@bandurvp can you confirm that the fix works as expected?

[2017-05-04 11:56] #95 closed

[2017-05-04 11:57] peterwvj commented on #95
@bandurvp Can you confirm that the fix works?

[2017-05-04 12:35] bandurvp commented on #90
Hi @tfabbri , yes that's the way to add to sequences and to access you use ```vdmSeqIndex```.  Don't forget that VDM uses 1-based indexing!  I don't think this changed since the initial versions of VDM2C...

[2017-05-04 13:28] bandurvp opened #96 "Multiple let expressions with identical bound variables"
A model like
[code]
will generate two declarations ```TVP a;``` within the same scope:
[code]
One way to overcome this is to insert a scope that corresponds to the scope of each let expression:
[code]

[2017-05-04 13:34] bandurvp opened #97 "Nested operation calls not getting extracted"
The nested calls in ```op3``` in the model
[code]
do not all get extracted to ```embedding_```-type variables:
[code]
This should be:
[code]

[2017-05-04 13:56] #96 closed

[2017-05-04 13:57] peterwvj commented on #96
@bandurvp Can you confirm that the fix works?

[2017-05-04 21:09] #90 closed

[2017-05-04 21:20] peterwvj commented on #97
@bandurvp Can you confirm that the fix works?

[2017-05-05 08:08] bandurvp commented on #97
Confirmed to work for the previous model, but the nesting aspect is not handled, as demonstrated by generating the following model:
[code]

[2017-05-05 15:18] #97 closed

[2017-05-05 15:19] peterwvj commented on #97
This should be fixed now. @bandurvp could you try again?

[2017-05-08 13:18] bandurvp commented on #97
Hi @peterwvj, I can confirm that this works.

[2017-05-08 13:28] bandurvp opened #98 "Header file not getting included"
Hi @peterwvj , when the following model is generated,
[code]
```B.h``` does not contain an ```#include "A.h"``` directive.

[2017-05-08 13:39] peterwvj commented on #98
Thanks for the bug report. I'll take a look when I have a minute.

[2017-05-08 17:29] #98 closed

[2017-05-08 17:29] peterwvj commented on #98
@bandurvp Can you confirm that the fix works as expected?

[2017-05-08 19:04] bandurvp commented on #98
Hi Peter, it works, thanks!  What was it?

[2017-05-08 19:22] peterwvj commented on #98
There's a transformation that computes the header files that each class depends on. That transformation did not consider identifier state designators so I simply had to add that case  ☺️

[2017-05-09 08:03] bandurvp commented on #98
I thought it might be something like that, from the way the transformations work.  Excellent progress!

[2017-05-09 11:03] bandurvp opened #99 "Names of omitted classes included in #include directives in main.c file"
When generating a VDM-RT project that contains only the VDM IO and Unit libraries, ```#include``` directives corresponding to omitted classes ```Throwable```, ```TestCase``` etc. are included in the main file emitted when the generator is invoked form inside Overture.  The function that emits the ```main.c``` file is ```emitMainFile``` in ```CGenerator.java```.  Currently this is not a smart imple

[2017-05-09 12:32] peterwvj opened #100 "Ideas for models for the GC paper"
- [x] Alarm example (external, used in the "Validated Designs for Object-oriented Systems" book)
  - Generate large amounts of internal data
- [x] CashDispenser (external, developed in connection with FM'99)
   - Recursion
   - Big model
- [x] Pacemaker (external, used in the "Validated Designs for Object-oriented Systems" book)
  - Uses maps and sets
  - Easy to define entry points that generate

[2017-05-10 06:59] peterwvj commented on #99
@bandurvp I need you to help me understand exactly which header files must be included. Is it sufficient to only consider user-defined once (and omit the library headers)?

[2017-05-10 13:58] #99 closed

[2017-05-11 14:44] bandurvp opened #101 "Unable to run make after cmake in generated test directories"
When debugging is required on the generated tests, running ```make``` inside the generated folder of any given test succeeds.  But running ```cmake``` followed by ```make``` results in an error where ```Vdm.h``` can not be found.  I suspect that this is related to the property being set to the location of the runtime library when the tests are run.

[2017-05-12 07:53] bandurvp commented on #101
Hi @peterwvj, I can import the generated code and debug it in Eclipse, so it seems CMake does generate debug targets.  If it takes some work, we should de-prioritize this issue for now.

[2017-05-12 08:50] bandurvp opened #102 "Emit default constructor for records to support ASN1 work"
Because of the semantics of records, when they are generated the only constructor that is emitted is the one that takes as many arguments as there are fields in the record.  @tfabbri needs access to the default constructor for his work.  For records this should be emitted just like it is for classes, but surrounded by
[code]

[2017-05-15 11:21] #102 closed

[2017-05-15 11:21] peterwvj commented on #102
@tfabbri Could you try out the fix?

[2017-05-15 13:27] tfabbri commented on #102
Works like a charm!

[2017-05-15 13:56] peterwvj commented on #102
Very good, thanks for checking!

[2017-05-15 20:56] tfabbri commented on #21
I am conducting tests on the support of VdmRecord in the mapping functions. It seems work.
 What about the support for union types @peterwvj ?

[2017-05-16 07:45] peterwvj commented on #21
Sounds good. Right now we mainly extend VDM2C to support paper related work (case studies etc.). Although we do hope to eventually support union types I think it's unlikely that we will have time to add support for this in the near future. I'll keep in mind that you are interested in that language feature.

[2017-05-18 07:53] peterwvj commented on #100
I thought about using the Pacemaker model, from the "Validated Designs for Object-oriented Systems" book (just like the Alarm example). That model ships with Overture and is called PacemakerSimplePP. Although the pacemaker model is not very big it does makes use set and sequence operations. Another nice thing about that model is that it is easy to define entry points that produce large collection

[2017-05-18 12:28] peterwvj commented on #100
I added a VDMPP version of the bubble sort algorithm. Intended use is shown below.

<details>
  <summary>Intended use</summary>

[code]
</details>

[2017-05-18 13:05] peterwvj commented on #100
The `PaperExampleTests` has been update to check that all the paper examples code-generate/compile without any problems.

[2017-05-26 12:16] bandurvp commented on #100
Hi Peter,

As we evolve these example models for the purpose of the paper, do you want to do this in the examples directory?  So for example, my test and validation plans for the alarm example I currently have in SVN, but I could move it over to the VDM2C repository.  Was this what you had in mind?

Victor

On 05/18/2017 03:05 PM, Peter W. V. Tran-Jørgensen wrote:

[2017-05-26 15:28] peterwvj commented on #100
Hi @bandurvp . If we keep the test code in the SVN repository then let's just maintain the models + the test/validation plans there. Would you be OK with that?

[2017-06-12 12:07] peterwvj opened #103 "Issue with "decrementing for loops""
The code-generator wrongly assumes that all for loops increment their loop counter. This issue can be demonstrated using the following model:

[code]
To clarify, `new A().op()` returns 4 as expected, whereas the equivalent C expressions returns 10.

[2017-06-12 14:50] peterwvj opened #104 "Investigate whether numField_ field can be removed"
Currently, we generate two different fields that count the number of fields in a class. One of them is an instance field, the other one is a global field. Probably, the global field can be removed.

[2017-06-12 15:08] peterwvj opened #105 "Ensure that value semantics for records works"
For example, the following condition must hold:

[code]

In the generated code, it looks like, the right-hand-side of the assignment in line 2 is not cloned.

[2017-06-13 12:29] #103 closed

[2017-06-22 08:11] #105 closed

[2017-06-22 08:24] peterwvj commented on #105
I've added a transformation, called `EnsureValueSemanticsTrans` that ideally should be responsible for generating all the `vdmClone` calls. It does that by replacing `e` with `vdmClone(e)` whenever cloning is needed. In this way "cloning" is handled by a single transformation rather than being spread across multiple ones.

[2017-06-29 11:53] peterwvj opened #106 "Sequence grow mechanism needs to be fixed"
Collections initialized using `*toGrow` functions are not expanded correctly when they need to be reallocated two or more times.  A collection needs to keep track not only of how may elements are currently in it, but how large the buffer is.  This should always be larger than or equal to the number of elements.

[2017-06-29 12:19] peterwvj commented on #106
Sequences have been fixed, sets and maps are left to be done

[2017-07-29 08:19] miranha opened #107 "Add the '++' operator for the VdmMap constructs"
Add transformation and corresponding template for the '++' operator for maps

[2017-08-02 14:02] peterwvj commented on #107
The '++' operator is used for both map overriding and sequence modifications. Map overriding is already supported. To address this issue, the following tasks must be completed:

* Add runtime support for sequence modifications
  - [x] Explicit version
  - [x] Garbage collection version, if needed
- [x] Update the garbage collection transformation
- [x] Add integration tests

[2017-08-04 10:28] bandurvp commented on #106
Maps don't need updating for this issue because they use a different underlying storage meachanism, linked lists vs. arrays.  Actually ```NewMapVarToGrow``` is a misnomer at this point because there's no provision for growth, so we should consider renaming to just ```NewMapVar``` or something similar.

[2017-08-09 09:36] #107 closed

[2017-08-09 09:48] peterwvj commented on #106
Yeah, good catch. I just renamed `newMapVarToGrow` to `newMapVar` like you suggested. Can we consider this issue closed?

[2017-08-09 11:59] bandurvp commented on #106
Definitely.

On 08/09/2017 11:48 AM, Peter W. V. Tran-Jørgensen wrote:

[2017-08-09 13:22] #106 closed

[2017-08-18 10:52] bandurvp opened #108 "Align language coverage with Java and VDMTools generators"
For the purpose of a more fair comparison of generators we should endeavour to increase language coverage of VDM2C to approach that of the other two generators.  Comparison is more fair this way because the generators can be seen to be equally generic.

[2017-08-18 15:00] bandurvp opened #109 "Investigate generalizing the GC so that it can be called anywhere"
As the C code generator is increasingly targeted at applications outside FMU export, it becomes important to stop relying on the cyclic nature of INTO-CPS controller models.

Garbage collectors in general are build for specific architectures, which enables efficient determiation of whether variables are in scope.  In the general case we can keep track of scope directly in the GC with explicit call

[2017-08-18 15:22] bandurvp commented on #101
I'm closing this issue since:
- tests are generated with debug information enabled in the first place
- it is possible to re-run a test from Eclipse so that one can run ```make``` in the test directory after perhaps making modifications (for testing, say) to the C code

[2017-08-18 15:22] #101 closed

[2017-08-21 12:29] peterwvj commented on #100
Currently, for the CashDispenser model, it takes much longer for the VDM2C-generated code to complete (stress test 1). We need to investigate why that is.

[2017-08-21 13:07] bandurvp commented on #100
It turns out that once you compile the sources with the ```-pg``` option and run the executable once just by itself, it generates a file called ```gmon.out```.  This is then picked up and used automatically when you run the executable through ```gperf```.

[2017-08-28 13:09] bandurvp opened #110 "Type binds not always detected as unsupported"
This model should issue a warning regarding the `forall` statement:
[code]

[2017-08-28 14:26] bandurvp commented on #108
Constructs to implement for now:
- [x] precondition checks (PJ, VPB)
- [x] map iteration + GC version (PJ)
- [x] Support map iteration in the code-generation platform (PJ)
- [x] map iteration (VPB), signature:  `TVP vdmMapIterate(TVP map, TVP num)`
- [x] map composition + GC version (e.g. {2 |-> 3} comp {1 |-> 2}) (PJ)
- [x] Support map composition in the code-generation platform (PJ)
- [x] map co

[2017-08-30 07:10] peterwvj opened #111 "Update VDM2C to use newest version of Overture"
VDM2C is using a rather old version of Overture (version 2.4.0). It should be updated to use the most recent version, which currently is version 2.5.0.

[2017-08-30 07:19] #111 closed

[2017-08-30 12:20] bandurvp commented on #108
Need to include support for answering the inheritance queries `isofbaseclass`, `isofclass`, `samebaseclass`, `sameclass`.  This must take the form of an array of `int` included in `Vdm.h`.  Assume the inheritance hirarchy (child -> parent) B -> A, C -> A, D -> C.  The array would look like the following:
[code]
If the model contains no inheritance, then the file containing this information will si

[2017-08-30 12:55] peterwvj commented on #108
Thanks, Victor. Did you really mean `Vdm.h`? I mean, the array is generated.

[2017-08-30 13:08] bandurvp commented on #108
Good point, sorry about that!  Because it's also generated, maybe it should follow the same approach as the `VdmModelFeatures.h` file.  We could name it `VdmClassHierarchy.h`

[2017-08-30 13:10] peterwvj commented on #108
Yeah sounds good.

[2017-09-11 08:52] bandurvp commented on #108
@peterwvj I have a questiona bout the `isSeqOf...` and `isSetOf...` queries I introduced above.  Would it not be a better idea to implement generic `isSet` and `isSeq` queries in the runtime and have the generator generate the right structure of calls to these plus `isInt` etc. for model queries such as `is_([[[3]]], seq of seq of seq of int)`?  It would keep the runtime smaller, plus it would all

[2017-09-11 12:39] bandurvp commented on #108
After discussion, we will implement a static and recursive mechanism in the runtime supporting arbitrary nesting of `seq` and `set` for built-in types.

Signature of the function should be `is(TVP value, char nested_type[])`.

Encoding scheme for `nested_type` to follow shortly.

[2017-09-11 17:20] bandurvp commented on #108
@peterwvj , let us try to use the following convention for identifying the nested type.  A 'q' for `seq of`, a 't' for `set of` and a 'z' at the end to signify the end of the nested type.  So the query `is_(e, seq of set of nat)` would result in `char nested_char[] = {'q', 't', 'z'};` that is passed to the `is` function.

[2017-09-11 20:09] peterwvj commented on #108
Sounds good to me, Victor. Shouldn't `is` also handle basic types (`nat`, `nat1`, `char`, `rat`, `bool` `int`, `token`, `real`) which form the base cases of `is`. I mean, in the above example it looks like the char array is missing the `nat` type. So assuming that `n` identifies `nat` and `z` terminates the array I would expect:

- `seq of set of nat` to be encoded as `q`, `t`, `n`, `z`
- `nat` to

[2017-09-12 08:50] bandurvp commented on #108
Hi Peter, no, what I had in mind is that the inner type would be passed in the `inner_type` parameter as, in this case, `VDM_NAT`.

Regarding products, I liked your convention of identifying character followed by number of fields, I'll work a bit with that and maybe we can have another chat once I wrap my head around it entirely.

[2017-09-12 13:10] peterwvj opened #112 "Update VDM2C to require Overture 2.5.0"
There's a way to update the code-generator plugin to require Overture 2.5.0. By doing that we should be able to avoid runtime errors caused by incompatible artifacts.

[2017-09-12 13:11] #112 closed

[2017-09-12 13:12] peterwvj commented on #112
Also see https://github.com/overturetool/vdm2c/commit/78906f402d7bc37db3a672091afa570350f262f2

[2017-09-13 14:33] bandurvp commented on #108
I would like to use a list like the following in the type encoding array.  Many of the built-in types are taken from gcc C++ name mangling:

-  `int`:  'i'
-  `nat`:  'j'
-  `real`:  'd'
-  `bool`:  'b'
-  `char`:  'c'
-  `nat1`:  'k'
-  `rat`:  'e'
-  `token`:  't'
-  `seq of`:  'Q'
-  `seq1 of`:  'Z'
-  `set of`:  'T'
-  `set1 of`:  'Y'
-  product:  'P'
-  record:  'R'
-  map:  'M'
-  class:  'W

[2017-09-13 15:01] peterwvj commented on #108
Sounds good, Victor, thanks!

[2017-09-18 11:07] peterwvj opened #113 "Update VDM2C to require Overture 2.5.2"
Crescendo builds against Overture 2.5.2, so VDM2C should also do that.

[2017-09-18 11:35] #113 closed

[2017-09-20 15:18] bandurvp opened #114 "Possible GC memory leak when reclaiming instances of classes"
Use of SELF_GC in the ClearSy model seems to lead to memory leaks.

[2017-09-20 15:22] bandurvp opened #115 "Ignore ports in hardware interface that are irrelevant to each CPU"
In code generated from distributed models, ports in `HardwareInterface` that are not relevant for a given CPU should not take up space as instances of subclasses of `Port` for that CPU.

[2017-09-22 09:40] bandurvp opened #116 "Rename MATH class"
When the VDM MATH library is generated, the names of the resulting header file clashes with standard Widnows files.  Recommend that a refactoring be done before code generation to rename this class to `VdmMathLib` or something similar.  It must not be renamed `MATHLib`, as this would clash with the runtime support counterpart.

[2017-09-26 10:38] bandurvp commented on #116
I have just looked into whether it would be worthwhile to quickly hack it such that it only renames the header file and the corresponding `#include` line in the class `.c` file, but it seems to be more trouble than it's worth due to the structure of the generator.  I think a refactoring transformation that renames `MATH` as above would be the most elegant solution, especially since it can be toggl

[2017-09-27 06:52] bandurvp commented on #114
No leak detected.

[2017-09-27 06:52] #114 closed

[2017-09-27 11:34] bandurvp opened #117 "Suppress constructor for system classes"
Due to the nature of system classes, the constructor of the System class should not be generated, only the static and value initializers.  The constructor can be generated, but its body should be empty.

[2017-09-28 12:38] bandurvp opened #118 "Assertions in the runtime library for obvious preconditions and proof obligations"
The Continental model revealed that
- proof obligations are not discharged in a standard modelling activity such as theirs
- simple assertions for the obvious cases of non-existent keys, heads of empty lists etc. in the runtime library would be extremely useful

In this issue we should add support for obvious proof obligations and preconditions in the runtime library.  The preferred assert stateme

[2017-09-28 12:43] bandurvp commented on #108
@peterwvj I've added precondition checking support to this issue because we need it to align with VDMT, but also because it seems like a very good idea in light issues found with the generated Continental model.

[2017-10-02 07:48] peterwvj commented on #118
I'm OK with adding those checks. It's similar to the assertions we've already added to ensure that the TVPs passed to certain functions carry the right types (e.g. the runtime version of `+` expects numbers).

[2017-10-02 08:03] peterwvj opened #119 "Loop index issue in "for all" loops"
This issue was originally reported in https://github.com/overturetool/overture-fmu/issues/75#

[2017-10-02 08:04] bandurvp commented on #118
Yeah, that's the kind of check that's missing in some parts of the runtime.  I'll add those now.

[2017-10-02 08:49] bandurvp commented on #108
Hi @peterwvj , in working on the assertions issue I realized that we don't support composition and iteration for maps, but VDMT does.  I've added these to the list above.

[2017-10-02 10:15] bandurvp commented on #104
I suspect this was added in support of @tfabbri 's work with TASTE.  I'm waiting for him to get back to me.

[2017-10-02 10:15] #118 closed

[2017-10-02 10:17] bandurvp commented on #115
@miranha , I think the approach we've taken with CPU-specific versions of `HardwareInterface` and deployment to relevant CPUs covers this, what do you think?

[2017-10-02 10:18] miranha commented on #115
Yes, I believe we can close this.

[2017-10-02 10:19] #115 closed

[2017-10-03 14:38] #14 closed

[2017-10-03 14:46] bandurvp commented on #8
Hi @peterwvj , in the beginning I think we started testing the runtime library by having parallel versions of tests, a VDM model of the test and a corresponding hand-written `.cpp` file.  I don't think we've followed this approach for a while now.  I would like to remove the folder `c/vdm` and close this issue.  Do you see anything wrong with this?

[2017-10-03 16:49] peterwvj commented on #8
No, I fully support your suggestion.

[2017-10-04 06:00] tfabbri commented on #104
Sorry for the late reply. I do not use the numField_ field  in the B_mapper of TASTE.

[2017-10-04 07:21] peterwvj commented on #108
Hi @bandurvp. I've updated the "Constructs to implement for now" list to contain the OO check operations (e.g. sofbaseclass) as well as the tasks concerning emitting the `VdmClassHierarchy.h` file and NO_INHERITANCE flag, which are now supported by the generator. Once the OO check operations are implemented in the runtime I will go ahead and update the generator to emit calls to these functions.

[2017-10-04 14:03] #8 closed

[2017-10-04 14:21] #104 closed

[2017-10-04 15:03] bandurvp commented on #108
Hi @peterwvj , I've updated the comment above with the type encoding scheme.  Please let me know what you think and whether it's a good way to go from the point of view of your side of the generator.  For my side it works well.

[2017-10-05 09:04] peterwvj commented on #108
Hi @bandurvp . The encoding scheme looks good. I only have one question. Why are the "*"s needed in the encoding of products, e.g. int * int: `{'P', 2, '*', 'i', '*', 'i', '*'}`. Why not just emit `{'P',2,'i','i'}`?

[2017-10-05 09:31] bandurvp commented on #108
Hi @peterwvj , it has to do with passing the array onward in the recursive call.  Without the `'*'` separators it would be very complicated to work out which parts of the array to pass on when the type is not as simple as `int * int`, but more complicated, like `(int * nat) * (set of int)`, for instance.  It would essentially require a parser for the encoding language.  The asterisks make the lang

[2017-10-05 10:29] peterwvj commented on #108
Good, makes sense, thanks for your response. I'll try to work out a visitor that translates VDM types into the proposed C encoding.

[2017-10-05 12:20] bandurvp commented on #108
OK @peterwvj , I think I have added support in the runtime for all the OO constructs we discussed in this issue.  I haven't added runtime tests because it's not so easy to do for classes, so I'll just wait for the generator tests to validate the implementations.

[2017-10-05 13:18] bandurvp commented on #108
Hi @peterwvj , regarding precondition checks, if they're already supported in the Java generator, then we can follow that mechanism.  Otherwise, I was thinking one way to do it is to emit the precondition check as a separate function, then use the `assert(...)` statement at the beginning of the body of the corresponding function or operation.  Say `op` has precondition `pre_op`, where the implemen

[2017-10-05 13:22] peterwvj commented on #108
Yeah I agree. Adding support for it in the generator should be fairly simple. I think the main bulk of the work is adding the necessary UI part (CLI + GUI) that enables the user to enable/disable precondition generation.

[2017-10-06 08:49] bandurvp opened #120 "Remove duplicate GC function bodies"
GC versions currently duplicate functionality from the non-GC versions of functions.  Gut these and use non-GC function results, but return GC-aware values.

[2017-10-06 11:45] peterwvj commented on #108
@bandurvp something just crossed my mind: the type encoding scheme above does not consider the `set1` and `seq1` type constructors.

[2017-10-06 12:32] peterwvj commented on #108
@bandurvp In addition to that, the encoding scheme is also missing `map`.

[2017-10-09 08:18] bandurvp commented on #108
Good spot @peterwvj , I'll add those now.

[2017-10-09 10:30] bandurvp commented on #108
Hi @peterwvj , I've just pushed `is` support for `seq1`, `set1` and `map`.

[2017-10-09 13:03] peterwvj commented on #108
@bandurvp Also the type encoding scheme is missing optional types.

[2017-10-09 13:41] bandurvp commented on #108
@peterwvj , conceptually there is an enromous overlap between queries on optional and non-optional types.  I don't immediately see a difference between, for example, `is_(3, [int])` and `is_(3, int)` from the point of view of the generated code.  The only case that bears consideration is that of `nil`, as far as I can see.  Is it ever the case that an expression will actually evaluate to `nil`?  O

[2017-10-09 14:11] peterwvj commented on #108
@bandurvp

That's exactly what it means, yes: `n` is of type `[nat]` iff `n = nil or is_nat(n)`. Or generally speaking:

`is_(v, [T]) == v = nil or is_(v, T)`

Generally speaking, it cannot be decided statically whether an expressions evaluates to `nil`. For example, one can easily construct an operation (say `possiblyNat`) that returns either a natural number or `nil`, i.e. the operation has the

[2017-10-10 07:28] bandurvp commented on #108
Hi @peterwvj , that sounds very good.  Is it easier for you to prepend or append the `0` to the type:  {`0`, 'j'}` or `{'j', '0'}`?

[2017-10-10 08:25] bandurvp opened #121 "Compiler warnings in distribution runtime"
Hi @miranha , there were several compiler warnings in the distribution runtime.  I was able to eliminate those where I was certain the semantics of things would not change, but there are some left, all involving some apparently missing functionality converting to and from real values.  These are in `serialise.c`.  Would you please take a look?  I'll push my changes to `vpb/development` now.

[2017-10-10 09:12] peterwvj commented on #108
@bandurvp Sounds good. When you have sorted out the encoding scheme for optional types, could you update the description above accordingly?

[2017-10-10 09:12] miranha commented on #121
Hi Victor,

Ok, Real should also be there, but I will try to take a look.

[2017-10-10 10:10] bandurvp commented on #108
@peterwvj , of course, will do.  So which one of the two is easier for you?

[2017-10-10 10:50] peterwvj commented on #108
Oh, sorry, missed your question :) I would go with prepend, since that reflects the order of the checks (i.e. `v = nil or is_(v, T)`) but either approach will do.

[2017-10-10 10:51] bandurvp commented on #121
Hi @miranha , I thought it would be there too, but I looked (OK, not very thoroughly, but in the correct header file where the `Int` ones are) and I couldn't find them, otherwise I think I could have fixed the warnings myself.

[2017-10-10 10:52] bandurvp commented on #108
@peterwvj , OK prepend it is!

[2017-10-10 15:45] bandurvp commented on #108
Hi @peterwvj , I've just pushed support for optional types in accordance with the scheme above.  As usual, it's in vpb/development.

[2017-10-11 13:09] peterwvj commented on #108
Hi @bandurvp. Just found out that the type encoding scheme isn't covering union types

[2017-10-12 07:34] bandurvp commented on #108
Hi @peterwvj , I was thinking about that too.  I think to add support in the runtime we would have to augment TVP, which would increase the binary size dramatically.  Could we alternatively emit a conjunction of `is_` queries based on the constituent types of the union type?  For instance, `is_(3, int | bool) iff is_(3, int) || is_(3, bool)`, so we could emit the corresponding query `vdmOr(is_(3,

[2017-10-12 07:36] bandurvp commented on #108
Hi @peterwvj , could we also emit a `NO_IS` flag such that I can cut out all of the type query mechanism if there are no `is` expressions in the model?  This does not cover the OO type queries, as they fall under the `NO_INHERITANCE` flag.

[2017-10-12 07:58] peterwvj commented on #108
Regarding both comments (handling of union types + emitting the `NO_IS` flag), sure, sounds like a good plan! I've updated the task lists accordingly.

[2017-10-12 08:56] bandurvp commented on #108
Great, I'll put in support for `NO_IS` now.

[2017-10-12 09:29] bandurvp commented on #108
Just a comment, the `sameclass` query should also fall under the `NO_IS` category, even though there is no "is" in it.  But `samebaseclass` would fall under `NO_INHERITANCE`.

[2017-10-12 11:31] #120 closed

[2017-10-18 08:47] peterwvj commented on #108
Preconditions, which are now supported, are emitted as regular C functions and called in the following way:

[code]
There's only one catch: currently, they are only supported in the command-line interface using the `-pre` argument. Obviously we can add GUI supported for this as well, but since that does not have anything to do with aligning language coverage, I'll consider this task done for now.

[2017-10-18 10:36] peterwvj commented on #108
@bandurvp After thinking about this, I don't think the approach to handling of union types is sufficient. The way I see it, problems occur when you start "embedding" union types into other type constructors (say products), which mixes up the two approaches to checking types. For example, how should we translate checks such as `is_(v, nat * (bool | char))` (v is a tuple where the first field is a n

[2017-10-18 11:42] peterwvj commented on #108
It looks like the example (and I quote) `int * (int * [char]): {'1', 'P', 2, '*', '1', 'i', '*', '1', 'P', 2, '*', '1', 'i', '*', '0', 'c', '*'}` is missing an `*` at the end of the array. Since tuples are terminated using `*` and this is an example of a tuple containing a tuple as the second field I think that the array should end with `'c','*','*'}`. @bandurvp please confirm that this example co

[2017-10-19 12:00] peterwvj commented on #108
@bandurvp I updated the generator to emit the OO operators (isofbaseclass, isofclass, samebaseclass and sameclass), but I've found runtime related problems with all of them that I need your help to address. Since there's quite a lot of stuff going on, I recommend we sit down face-to-face so I can explain you what's up. My work is available in pvj/ovt-254. However, since I build against Overture 2.

[2017-10-24 10:43] bandurvp commented on #108
@peterwvj , regarding https://github.com/overturetool/vdm2c/issues/108#issuecomment-337563814 , yes it is a typo, I've updated the comment, sorry about that.

[2017-10-24 11:17] bandurvp commented on #108
Hi @peterwvj , let us talk about the OO operator issues above tomorrow, if you have time.

[2017-10-24 11:30] peterwvj commented on #108
Sure, let's talk tomorrow!

[2017-10-24 11:47] bandurvp commented on #108
@peterwvj , regarding union types, could we make use of the following type of equivalence to just emit a combinatorial `is` query?  For example, it seems that  `is_(v, nat * (bool | char))` would be equivalent to `is_(v, nat * bool) or is_(v, nat * char)`.  This would require no extension to the runtime, only execution overhead.  I think this would be much better because augmenting TVP with extra

[2017-10-24 12:23] peterwvj commented on #108
Perhaps that's a better approach yes, but like you say, it could in theory increase the number of `is_` calls drastically. I would like to discuss this approach a bit more tomorrow before I start to implement it.

[2017-10-26 07:17] peterwvj commented on #108
@bandurvp It looks like `isGC` is missing in the header files.

[2017-10-26 08:38] peterwvj commented on #108
I just added `isGC` to the header file in `pv/ovt-254` in order to make the GC tests pass.

[2017-10-26 11:01] bandurvp opened #122 "Investigate memory leak in field initializers"
Currently the GC transformation is not applied at all for field initializers.  This seems to result in memory leaks if a field is initialized with, for instance, the result of a function call such as `a := add(1, 2);`  The resulting generated code will contain `newInt(1)` and `newInt(2)` which can not be reclaimed by the garbage collector or the corresponding call to the enclosing class `free` fun

[2017-10-26 11:38] peterwvj commented on #108
`is*` checks are now implemented. Below is an example that demonstrates how to check if a value is of type `nat * (bool | char)`. Also note that the expression being checked is extracted to a temporary variable in case it has side-effects.

VDM:
[code]
Corresponding C:
[code]

[2017-10-26 12:43] peterwvj commented on #122
I see your point. So is the solution simply to apply the GC transformation to field initialisers?

If we do that the field initialisers for`y : nat := f(3)` would be:

[code]

Another thing: I noticed that the field initialiser is invoked in the following way: `this_ptr->m_A_y= _Z17fieldInitializer4EV(this_ptr)`. Does that not cause the state of active objects to be corrupted when `vdm_gc()`  is i

[2017-10-31 10:54] bandurvp opened #123 "Remove `ref_from` from"
If the current GC approach is to pass `NULL` as `ref_from` then remove it from `TVP`.

[2017-10-31 12:29] bandurvp commented on #122
Only applying the GC transformation for initializers will not work because the GC will collect them when it's called, whereas we want them to persist.  But applying the GC transformation and also wrapping in a deep copy I think will work.  It's only a matter of using `vdmClone` as the deep copy mechanism.

[2017-11-06 14:14] peterwvj commented on #122
OK, issue fixed in `pvj/ovt-254`. Now, when the GC is enabled, the field initializer for `y : nat := f(3)` is translated to:

[code]

Essentially what happens is that the garbage collection transformation is applied to field initializer. In addition to that, expressions that are returned in field initializers are cloned. @bandurvp please confirm that the generated code looks alright.

[2017-11-06 15:00] peterwvj commented on #119
Implemented the fix suggested in overturetool/overture-fmu#75.

[2017-11-06 15:18] peterwvj commented on #117
Is the solution to simply remove the corresponding method definition from the class? Would that work? @miranha what did you have in mind?

[2017-11-06 15:19] peterwvj commented on #121
Can this issue be closed?

[2017-11-13 14:32] #119 closed

[2017-11-17 13:12] bandurvp opened #124 "Emit GC versions of class constructors"
Classes should emit a GC version of their constructor.   For instance, the model
[code]
must additionally emit the constructor
[code]
This requires the corresponding addition to the header file of the class:
[code]
Also requires updating the GC transfomation to emit GC constructor calls.

[2017-11-17 15:13] bandurvp commented on #123
@peterwvj can you confirm whether there is any situation currently where the code generator emits anything other than `NULL` as the `from` parameter to `GC` calls?

[2017-11-17 15:16] peterwvj commented on #123
@bandurvp it should all be contained in the GC transformation yes.

[2017-11-17 15:18] bandurvp commented on #123
Right, and in there there is no case in which it emits something like `&res` instead of `NULL`?

[2017-11-17 15:24] peterwvj commented on #123
I'm pretty sure we got rid of all of that at one point. We only pass `NULL`.

[2017-11-20 10:27] peterwvj commented on #124
@bandurvp Could you try the fix I just pushed to `pvj/development` (9e1f19d)

[2017-11-21 14:18] bandurvp commented on #124
Hi @peterwvj , works well, but the GC versions do not get emitted in the case of calls to static operations, such as in this model:
[code]

In this case an instance of the class A is created inside the body of `op` which should be the GC version, or else should be `vdmFree`d.

[2017-11-21 20:17] peterwvj commented on #124
Good catch, @bandurvp . Fix pushed to `pvj/development`. Could you give it a try again?

[2017-11-27 12:24] bandurvp commented on #123
Hi @peterwvj , I want to attempt to remove all traces of `NULL` and `ref_from` from the garbage collector if it's not used.  You said earlier that it's all in the GC transformation.  What I plan to do is to temporarily duplicate all the GC operations in the runtime but without the `from` parameter and then remove the part of the GC transformation that puts in this parameter value.  Is there anythi

[2017-11-27 12:30] peterwvj commented on #123
Hi @bandurvp . I don't think there's anything else to consider, but I could be wrong.

Wouldn't it be better/safer to simply remove the "NULL parameter" from the function definitions in the runtime (rather than duplicating them).  Otherwise the approach sounds fine.

[2017-11-27 16:06] bandurvp commented on #123
That would be the final approach, I was just thinking that this would be just a way of organizing the change.  But if I think about it there isn't really an advantage to it, thanks!  I'll let you know how things come out.  Can I merge your branch into development and branch from there?

[2017-11-27 18:01] peterwvj commented on #123
Yes, absolutely 👌

[2017-11-27 18:36] #123 closed

[2017-11-28 06:47] #124 closed

[2017-11-28 13:38] peterwvj commented on #117
@bandurvp @miranha To clarify, could you show exactly which parts of the code you want to exclude? You can just edit my comment and comment out the parts of the `.c` file that you want the code-generator to exclude.

VDM:

[code]
Generated C code

[code]

[2017-11-30 17:43] bandurvp commented on #122
Hi @peterwvj , I've discovered a bug that I think is a result of this fix.  In this model
[code]
The assignment to `a` should not be a GC one, otherwise the instance variable gets reclaimed when the GC is run.  Before the fix the assignment was
[code]
but now it is
[code]
Notice also that the second `NULL` is missing the the second case because of my change for issue #123.  This part is correct.

[2017-12-04 08:39] peterwvj commented on #122
Yeah, I see what you mean. Is the solution simply to clone the right-hand-side of assignments when fields (instance + static instance variables) are assigned to? That is, the code should be generated as:

[code]

Can you confirm that this is the solution @bandurvp ?

I mean, it's not safe to just revert the "fix" (changing it back to "Z1AEV(NULL)") because then the following model snippet will pro

[2017-12-04 10:57] bandurvp commented on #122
Hi @peterwvj , that would work, but it would introduce another layer of cloning.  Could an analysis be done and omit the GC versions in assignments to fields because they need to persist for the lifetime of the object?

[2017-12-04 11:22] peterwvj commented on #122
Hi @bandurvp Yeah, we could, but is that really a good solution? I mean, the example above (or below) would cause a leak the second time `op` is executed since the value is constructed using "Z1AEV(NULL)".

[code]

The other approach would introduce another layer of cloning (that's true), but it would be *correct*. Do you see what I mean?

[2017-12-04 11:40] bandurvp commented on #122
Hi @peterwvj , in normal field assignments, the macros `SET_FIELD_PTR` and `SET_FIELD_PTR_GC` call `vdmFree` on the field variable before they assign the new value.  Could something similar be done for the above?  The assignment would become
[code]

[2017-12-04 11:54] peterwvj commented on #122
Can you clarify what you mean by "normal field assignment". Is `g_B_a =...` considered a normal field assignment?

[2017-12-04 12:18] bandurvp commented on #122
Sorry, that wasn't very clear of me.  What I meant is that non-static fields receive assignments like this:
[code]
where the macro `SET_FIELD_PTR` first does a `vdmFree` on the field being assigned to (this is actually done in the inner macro `SET_STRUCT_FIELD` which is called by this one.)  So I was thinking we can do something similar to assignments to static fields, by freeing first and then as

[2017-12-04 12:38] peterwvj commented on #122
Thanks for clarifying. Okay, so the transformation will only cover static fields. I guess this transformation should ignore field initializers? Are there more things to ignore?

Now, just to make sure I understand, we want the following bit of code

[code]
to be generated as
[code]
Sure, we can do that. I don't think it's that difficult.

What about nested values? I mean, what if the assignment in

[2017-12-06 14:40] bandurvp opened #125 "Add `newSeqVarToGrowGC` to runtime and also emit instead of `newSeqVarToGrow`"

[2017-12-06 14:56] bandurvp commented on #122
Agreed that the initial implementation of this should be:
[code]

[2017-12-07 14:07] peterwvj commented on #122
Hi @bandurvp . There's a fix in `pvj/development`. Could you try it out and let me know if it works as expected.

[2017-12-08 13:24] peterwvj commented on #125
Hi @bandurvp . I tried to update the code-generator to emit `newSeqVarToGrowGC`. But I found two problems: First, `newSeqVarToGrowGC` seems to be missing in the header file. Now, when I add it one of the tests seqfaults, and I see the following warning in the compiler output:

[code]

[2017-12-08 13:26] peterwvj commented on #125
@bandurvp The commit that updates the code-generator to emit `newSeqVarToGrowGC` is in `pvj/issue-125`.

[2017-12-18 14:26] bandurvp commented on #117
In general the `system` constructor can not be called explicitly when modelling, but it is nevertheless executed by Overture when a model is animated.  This means that the constructor is allowed to carry out computations that affect elements of the `system` class that are used subsequently.  In a generated model, strictly speaking, the user (inside the `main` function, perhaps) should create an in

[2017-12-18 14:26] #117 closed

[2017-12-18 14:29] bandurvp commented on #73
The rest of the (non-generated) runtime library files should contain the following note at the top:  "VERSION:  For the version of VDM2C used to generate this project, refer to one of the generated files."

[2017-12-18 14:30] bandurvp commented on #2
This is a very old issue, all the relevant information is now contained in the Overture User Manual.

[2017-12-18 14:30] #2 closed

[2017-12-18 14:31] bandurvp commented on #39
No further plans to support the explicit approach to managing memroy.

[2017-12-18 14:31] #39 closed

[2017-12-18 14:49] bandurvp commented on #20
The runtime library now supports full `is_` type checks, so it is now possible to implement the following:
[code]
The runtime function `is(...)` takes as one of its arguments a text encoding of the type being queried, in this case either `MyRecord1` or `MyRecord2`.  There is a function in the Java side of VDM2C called `IsExpTypeEncoder.encodeType` that will emit this encoding.  For examples of how

[2017-12-18 14:52] bandurvp commented on #21
Hi @tfabbri , this issue is very old now and I can't quite remember what is needed here, and whether it overlaps with issue #20.  Can we revisit what's required at this stage?

[2017-12-18 15:14] #73 closed

[2017-12-19 17:01] bandurvp commented on #125
Hi @peterwvj , I've just pushed a fix for this.  It was a fairly severe problem with the scheme for growing sequences while under GC control, but one with a very simple, that is, one-line solution!  I haven't merged it into development.  I'll check whether this is a problem for sets as well, I suspect it might be.

[2017-12-19 17:24] bandurvp commented on #125
OK I've pushed the fix for sets as well.

[2017-12-19 18:05] peterwvj commented on #125
Cool, @bandurvp - good job. That should fix the issue in the CashDispenser model.

[2017-12-19 18:20] bandurvp commented on #125
Haha yes it fixes that one issue... :-)

[2017-12-20 11:17] tfabbri commented on #20
To be honest I do not remember well the issue. The problem was about the support for union types as in #21. Have you developed such support?

[2017-12-20 19:27] peterwvj commented on #20
Not directly, but as Victor said above, you can now generate the char encoding for such types - see https://github.com/overturetool/vdm2c/issues/108#issuecomment-329187280 for details. Based on the encoding you can use the `is` function in the runtime to check if a value is of a given type. `IsExpEncoderTest.java` contains several examples and shows you how to utilize the encoder, https://github.c

[2018-02-12 18:03] bandurvp opened #126 "Add generator support for `vdmSetEnumerateSetOfIntsGC`"
The generator needs to emit calls to `vdmSetEnumerateSetOfIntsGC` instead of `vdmSetEnumerateSetOfInts` in the usual case of temporary variables.

[2018-02-14 09:57] #125 closed

[2018-02-14 09:57] #126 closed

[2018-02-14 10:02] #100 closed

[2018-02-14 10:03] peterwvj commented on #89
I think this can be closed now.

[2018-02-14 10:03] #89 closed

[2018-02-14 10:09] #122 closed

[2020-09-21 07:16] CThuleHansen opened #127 "Update to Overture 3.0.0"
So the updating of VDM2C seems to have fallen behind - probably because @peterwvj just silently fixed everything beforehand 👍
Anyways, the challenge remains. I am tagging some people that I hope can help out with the task.
@nickbattle @idhugoid @peterwvj (as he might have some knowledge of the infrastructure) and @lausdahl .

I am experiencing the following:
Using overture 3.0.0 it still compiles,

[2020-09-21 08:13] CThuleHansen commented on #127
@nickbattle do you have any idea of things that have changed since overture 2.6.4 that has to be reflected in vdm2c?

[2020-09-21 09:40] nickbattle commented on #127
@CThuleHansen Phew... well, I can start by looking through the bug list, though most of the fixes are really "bugs" in the way VDMJ/Overture works, rather than fundamental changes that would change code generation. If you can give me an example of a piece of C that has changed (before/after compare?), I might be able to guess the area more easily?

[2020-09-21 10:44] CThuleHansen commented on #127
@nickbattle so one example is the one in the original issue, where it tries to find a variable in a wrong class.

[2020-09-21 10:44] CThuleHansen commented on #127
@idhugoid i investigating currently

[2020-09-21 15:38] nickbattle commented on #127
@CThuleHansen Yes, I saw the one-liner in the issue above. But without more context, it's hard to know what created that. Is it possible to create a small example VDM++ spec that translates into two different C files? Perhaps based on the class in which this one-liner occurs? That would be easier to investigate.

[2020-09-22 06:20] CThuleHansen commented on #127
So this model does it:
https://github.com/INTO-CPS-Association/example-single_watertank/tree/master/Models/SingleWT
it is part of a test suite inside the vdm2c.

@idhugoid have you come any further?

[2020-09-22 11:02] CThuleHansen commented on #127
The tests works with overture 2.6.4 on ubuntu with gcc (not on mac with clang). This is also tested via github actions.
The following tests fail with overture 3.0.0 (trace is included in bottom and available via [github action](https://github.com/overturetool/vdm2c/runs/1149048049?check_suite_focus=true)

All 4 vdm-rt examples (pretty much with the same error) and 1 vdmPP (with different error):
-

[2020-09-22 13:34] CThuleHansen commented on #127
@nickbattle I seem to have pinpointed it to here (note, the code snippet below is scrollable): https://github.com/overturetool/vdm2c/blob/b634965ff5cec4c6f168737e2b554f1d3ef4e92e/core/vdm2c/src/main/java/org/overture/codegen/vdm2c/transformations/FieldReadToFieldGetMacroTrans.java#L155-L283
In particular line 191: `thisClassName = varExp.getAncestor(SClassDefinition.class).getName().getName();` wh

[2020-09-22 16:41] nickbattle commented on #127
@CThuleHansen This is great detective work, but I'm not familiar with the code generator either. Are we still able to contact @peterwvj at all? It sounds as though something has happened to the ancestry structure in the codegen "IR" tree, but I can't imagine what change(s) in Overture might have caused that.

[2020-09-23 08:31] CThuleHansen commented on #127
@nickbattle I am unsure whether he can be contacted in this regard or not.
I am following the ancestry of line 14 [(model)](https://github.com/INTO-CPS-Association/example-single_watertank/blob/master/Models/SingleWT/ValveActuator.vdmrt).
(Kenneth:) Looked at this it seems like the definition of valveactuator.setValve(open) was set on the call, essentially relocating it to that class instead of ma

[2020-09-23 10:48] nickbattle commented on #127
@CThuleHansen OK, this is very strange. I started by assuming that the parent/child relationship was to do with the class hierarchy (eg. that ValveActuator was a subclass of Controller), but it is not; rather, ValveActuator is an instance variable within Controller. So it's lost track of which class it is generating, by the look of it.

I assume the operation of this model in Overture is still cor